


.suites-checkbox {
  border:1px solid red;
  border-radius:2px;
  background:#ebebeb;

}
.page[id^="SuiteNew"]  {}

.page[id^="SuiteNew"] .row {
    margin: 0;
}

.suite-configuration-table th {
    background: transparent;
    padding: 0 5px;
    text-align: center;
    border-right: solid 1px #90d1ff;
}

.suite-configuration-table thead {
    background: #4ea4e0;
    padding-right: 10px;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.22);
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.22);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.22);
}

.suite-req-configuration-table th {
    background-color: #4ea4e0;
}

.page[id^="SuiteNew"]  .page-content-inner > div {
    padding-top: 0;
}

.suite-configuration-table td {
    padding: 3px 5px;
    text-align: center;
    border-right: solid 1px #dbdbdb;
}

.suite-configuration-table {
    margin: 0;
    width: 100%;
    height: 100%;
    display: block;
}

.page[id^="SuiteNew"]  .col-md-12 {
    width: 100%;
    padding: 0;
    margin: 0;
    /* height: 100%; */
    overflow: hidden;
}

.page[id^="SuiteNew"]  .container-fluid {
    padding: 0;
}

[auto-init="suites.mapFullSuiteJson"] > .container-fluid
 > .row > .col-md-9 {
    padding: 8px;
}

[auto-init="suites.mapFullSuiteJson"] > .container-fluid
 > .row {
    height: 280px;
    overflow: hidden;
}

[auto-init="suites.mapFullSuiteJson"] > .container-fluid
 > .row > .col-md-3 {
    padding: 0;
}

div#tableOfsuiteRequirements {}

table#Requirements_table_display {}

.suite-req-configuration-table tbody {height: calc(100% - 35px);overflow-y: scroll;}

.suite-req-configuration-table {
    position: relative;
    height: 100%;
    display: block;
}

[auto-init="suites.mapFullSuiteJson"] > .container-fluid > .row + .col-md-12 {
    height: calc(100% - 280px);
    position: relative;
    display: block;
    margin: 0 !important;
    top: 0;
}

[auto-init="suites.mapFullSuiteJson"] > .container-fluid
 > .row + .col-md-12 tbody {
    height: calc(100% - 39px);
    overflow-y: scroll;
}

.suite-configuration-table thead {}

[auto-init="suites.mapFullSuiteJson"] *::-webkit-scrollbar {
    width: 10px;
}

[auto-init="suites.mapFullSuiteJson"] *::-webkit-scrollbar-track {
    background: white;

}

[auto-init="suites.mapFullSuiteJson"] *::-webkit-scrollbar-thumb {
background: grey;
}
.suite-configuration-table th:last-child {
    border: none;
}

.suite-req-configuration-table thead {
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.22);
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.22);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.22);
}

.suite-req-configuration-table td, .suite-req-configuration-table th {
    padding: 0 5px;
}

.suite-req-configuration-table td {
    height: 46px;
    line-height: 45px !important;
}

.suite-req-configuration-table i {
    line-height: 45px;
    width: 33%;
    text-align: center;
    padding: 0;
}
