<div class="tabs">
    {% for app in apps %}
        <div class="tab {{ app.data.color }}" katana-rclick="katana.rcPanel" katana-click="katana.templateAPI.load"
             url="{{ app.data.app.url }}" jsUrls=" {% for url in app.data.js_urls %} {{ url }},{% endfor %}">
            <i class="fa fa-{{ app.data.icon }}"></i>
            <span>{{ app.data.app.name }}</span>
        </div>
    {% endfor %}
    <ul class="rc-menu" style="display:none;">
      <li katana-click="katana.editOrder">Edit Order</li>
      <li katana-click="katana.removeApp">Remove App</li>
    </ul>
</div>
