<body>
<div class="tool-bar"><div katana-click="settings.closeSetting" class="button close">Close</div><div katana-click="settings.save" class="button save saved">Save</div></div>

<div class="flex-rows to-save" auto-init="settings.changeDetection" post-url="settings/email_setting_handler">
    <div class="field-block to-scroll">
      <div class="title center">Email Settings</div>
      {% for k, v in setting.Setting.items%}
        {% if k == '@name' %}
          <input key="{{ k }}" type="hidden"  value="{{ v }}">
        {% else %}
          <div class="field"><label>{{ k }}</label><input key="{{ k }}" type="text" {% if v  %} value="{{ v }}" {% endif %} placeholder="{{ k }}"></div>
        {% endif %}
      {% endfor %}
    </div>
  <div class="csrf-container">{% csrf_token %}</div>
  <div class="translator" url="{% load staticfiles %} {% static 'settings/translations.json'  %}"></div>
</div>
</body>
