
<body>
<div class="settings">

  <div class="tab yellow" katana-click="katana.templateAPI.subAppLoad" url="/katana/settings/profile_setting_handler"><i class="fa fa-user"></i><span>Profile Settings</span></div>
  <div class="tab red" katana-click="katana.templateAPI.subAppLoad" url="/katana/settings/general_setting_handler"><i class="fa fa-cogs"></i><span>General Settings</span></div>
  <div class="tab green" katana-click="katana.templateAPI.subAppLoad" url="/katana/settings/prerequisites_handler"><i class="fa fa-anchor"></i><span>Prerequisites</span></div>
  <div class="tab blue" katana-click="katana.templateAPI.subAppLoad" url="/katana/settings/email_setting_handler"><i class="fa fa-envelope-o"></i><span>Email Settings</span></div>
  <!--<div class="tab green" katana-click="katana.templateAPI.subAppLoad" url="/katana/settings/secret_handler"><i class="fa fa-lock"></i><span>Encryption Settings</span></div>-->
  <div class="tab orange" katana-click="katana.templateAPI.subAppLoad" url="/katana/settings/jira_setting_handler"><i class="fa fa-tasks"></i><span>Jira Settings</span></div>
  <div class="tab red" katana-click="katana.templateAPI.subAppLoad" url="/katana/settings/smart_analysis_handler"><i class="fa fa-area-chart"></i><span>Smart Analysis Settings</span></div>

</div>
<div class="limited-styles-true"></div>
<div class="tab-template">Settings</div>
</body>
