<body>
<div class="tool-bar"><div class="title">Profile Settings</div><div katana-click="settings.closeSetting" class="button close">Close</div><div katana-click="settings.profile.save" class="button save saved">Save</div></div>
<div class="flex-rows to-save" auto-init="settings.profile.init" post-url="settings/profile_setting_handler">
    <div class="field-block large center to-scroll">
      <div class="title center"></div>
      {% for k, v in data.items%}
        {% if k == 'Base64image' or k == "bgImage" %}
          <div class="profile-image large">
            <div class="clear fa fa-times" katana-click="settings.profile.clearImage"></div>
            <div katana-click="settings.profile.selectProfileImage" class="image {{ k }}" style="background-image: url({{ v }})"></div>
            <input katana-change="settings.profile.encodeImage" type="file" accept="image/*" />
            <input key="{{ k }}" type="hidden" name="image" value="{{ v }}" />
          </div>
        {% else %}
          <div class="field left"><label>{{ k }}</label><input key="{{ k }}" type="text" {% if v  %} value="{{ v }}" {% endif %} placeholder="{{ k }}"/></div>
        {% endif %}
      {% endfor %}
    </div>
  <div class="csrf-container">{% csrf_token %}</div>
  <div class="translator" url="{% load staticfiles %} {% static 'settings/translations.json'  %}"></div>
  <div class="tab-template">ProfileSettings</div>
</div>
</body>
