<body>
<div class="tool-bar"><div katana-click="settings.closeSetting" class="button close">Close</div><div katana-click="settings.encrypetion.save" class="button save saved">Save</div></div>
<div class="field-block to-save to-scroll" auto-init="settings.changeDetection" post-url="settings/secret_handler">

  <div class="title center">Encryption Settings</div>

  <div class="field"><label>Encyption Key</label><input title=" Enter encryption key to be used to encrypt your passwords" type="text" name="secret" value="{{ secret }}" placeholder="secret"></div>
  <div class="csrf-container">{% csrf_token %}</div>
</div>
</body>
