<body>
<div class="tool-bar"><div class="title">Smart Analysis Settings</div><div katana-click="settings.addSystem" class="button add">System</div><div katana-click="settings.closeSetting" class="button close">Close</div><div katana-click="settings.save" class="button save saved">Save</div></div>
  <div class="flex-rows to-save" auto-init="settings.changeDetection" post-url="settings/smart_analysis_handler">
      {% for system in data.system %}
        <div class="field-block">
          {% for k, v in system.items%}
            {% if k == '@name' %}
              <div class="title"><input key="{{ k }}" type="text" value="{{ v }}" placeholder="System Name" title="Name of system under automation"></div>
            {% endif %}
          {% endfor %}
          <div class="relative-tool-bar"><i katana-click="settings.jira.addBlock" title="Clone System" class="fa fa-plus-circle"></i><i katana-click="settings.jira.deleteBlock" title="Delete System" class="fa fa-times"></i></div>
          <div class="to-scroll">
            {% for k, v in system.items%}
              {% if k != '@name' %}
                <div class="field"><label>{{ k }}</label><input key="{{ k }}" type="text" {% if v  %} value="{{ v }}" {% endif %} placeholder="{{ k }}"></div>
              {% endif %}
            {% endfor %}
          </div>
        </div>
      {% endfor %}
      <div class="csrf-container">{% csrf_token %}</div>
      <div class="translator" url="{% load staticfiles %} {% static 'settings/translations.json'  %}"></div>
      <div class="tab-template">SmartAnalysisSettings</div>
  </div>
  <script type="text/template" id="block-template">
    <div class="field-block">
      <div class="title"><input key="@name" type="text" placeholder="System Name" title="Name of system under automation"></div>
      <div class="relative-tool-bar"><i katana-click="settings.jira.addBlock" title="Add New System" class="fa fa-plus-circle"></i><i katana-click="settings.jira.deleteBlock" title="Delete System" class="fa fa-times"></i></div>
      <div class="to-scroll">
        <div class="field"><label>Identification Criteria</label><input key="search_string" type="text" title="String or regexp used to identify the system" placeholder="Identification Criteria"></div>
        <div class="field"><label>Location of CLI Data File</label><input key="testdata" type="text" title="path to CLI Data Files" placeholder="testdata"></div>
      </div>
    </div>
  </script>
</body>
