/* editor app related styles starts*/

.editor.edit-container {
	display: flex;
	flex-flow: column wrap;
	/*border: 1px solid silver;*/
	overflow: auto;
	height: 100%;
}
textarea {
		border: none;
     height:100%;
     width: 100%;
     -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
     -moz-box-sizing: border-box;    /* Firefox, other Gecko */
     box-sizing: border-box;         /* Opera/IE 8+ */
}
#save{

	padding: 2px 5px;
    height: 32px;
    vertical-align: top;
    max-width: 200px;
    min-width: 84px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
		margin: 5px 5px 0px 2px;
background: rgb(244, 244, 244);
border: solid #d2d2d2 1px;
color: #333;
width: auto;
text-align: center;
position: relative;
}
.editor.layout-panel {
	min-width: 15%;
	width: calc(20% - 4px);
	height: 100%;
	background: #fff;
	color: black;
	overflow: hidden;
	/* border: 1px solid #dedede; */
	border-top: none;
	margin: 0;
}

.editor.selections-panel {
	display: flex;
	flex-direction: column;
	width: calc(80% - -4px);
	height: calc(100% - 4px);
	background: #fff;
	color: black;
	overflow: hidden;
	border-left: solid 1px #ebf2fa;
	margin: 0;
}

.editor.cmd-options-panel {
	width: calc(40% - 4px);
	height: calc(0% - 4px);
	background: #fff;
	color: black;
	overflow: hidden;
	border: 1px solid #dedede;
	margin: 2px;
}

.editor.panels-heading {
	height: 40px;
	width: 100%;
	/* border-bottom: 1px solid #dedede; */
	position: relative;
	background-color: #4ea4e0;
	/*#73a5c4;*/
	color: white;
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.editor.panels-heading-icon {
	display: flex;
	flex-direction: column;
	font-size: 18px;
	margin: 0;
	color: white;
	/*#5a5a5a;*/
	padding: 0px 4px;
	width: 32px;
	height: 32px;
	text-align: center;
	vertical-align: middle;
	justify-content: center;
}

.editor.panels-heading-icon:hover {
	color: black !important;
}

.editor.panels-heading label {
	margin-right: auto;
	padding-left: 10px;
}

#explorer-up{
	color: #4ea5e1;
}
.up-btn-bar{
	background: #ffffff;
}
.editor.panels-body {
	/*display: block;*/
	overflow: auto;
	height: calc(100% - 70px);
	/*margin-top: 15px;*/
	/*margin-bottom: 5px;*/
}

.editor.selections-panels-body {
	/*display: block;*/
	overflow: auto;
	height: calc(100% - 70px);
/*	margin-top: 15px;*/
	/*margin-bottom: 5px;*/
}

.editor.selection-items {
	height: 90%;
	margin: 0 !important;
	padding: 0px 10px;
}

.editor.selection-group-item {
	display: inline-block;
	height: 40px;
	line-height: 40px;
	position: relative;
	margin: 3px 0px;
	background-color: rgba(235, 242, 250, 1);
	border: none;
	border-radius: 1px;
	-webkit-box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.20);
	-moz-box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.20);
	box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.20);
	color: #464646;
	width: 100%;
}

.editor.selections-handle {
	width: 40px;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	line-height: 40px;
	padding: 0;
	margin: 0;
	float: none !important;
	text-align: center;
	cursor: -webkit-grabbing;
}

#editor_items label {
	width: calc(100% - 80px);
	height: 40px;
	position: absolute;
	top: 0;
	left: 40px;
	line-height: 40px;
	padding: 0;
	margin: 0;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	vertical-align: bottom
}

#editor_items i {
	width: 40px;
	height: 100%;
	position: absolute;
	top: 0px !important;
	right: 0 !important;
	line-height: 40px;
	padding: 0;
	margin: 0;
	float: none !important;
	text-align: center;
	display: block;
	cursor: pointer;
	color: #5a5a5a;
	font-style: normal;
}

#editor_items i:hover {
	color: #c00 !important;
}

.editor.results-tab {
	height: 40px;
	width: 100%;
	color: #6b6b6b;
	background: rgb(78, 164, 224);
	/*rgb(115, 165, 196);*/
	/*padding-bottom: 4%;*/
	padding: 0;
}

.editor.results-tab button {
	background-color: inherit;
	float: left;
	border: none;
	outline: none;
	cursor: pointer;
	padding: 18px 16px;
	transition: 0.3s;
	font-size: 17px;
	/*font-family: Lato;*/
	height: 100%;
	line-height: 10px;
	color: white;
}

.editor.results-tab button:hover {
	background-color: #ddd;
}

.editor.results-tab button.active {
	background-color: white;
	color: black;
}


/* Style the tab content */

.editor.tab-content {
	display: none;
	padding: 2px 2px;
	-webkit-animation: fadeEffect 1s;
	animation: fadeEffect 1s;
	font-family: Corbel;
}

.editor.dialog_button_bar {
	position: absolute;
	bottom: 0;
	width: 100%;
	text-align: right;
	height: 40px;
	border-top: 1px solid #dedede;
}

/* editor cmd options dialog styles start*/

.editor.dialog-container {
	display: flex;
	flex-direction: column;
	position: absolute;
	z-index: 5;
	top: 15%;
	left: 15%;
	min-width: 70%;
	height: 600px;
	width: 75%;
	border-radius: 2px;
	-webkit-animation: fadeEffect 1s;
	color: black;
	background: white;
	-webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.28);
	-moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.28);
	box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.28);
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
}
.editor.dialog-container.small {
    left:15%;
    min-width: 40%;
    height: 250px;
}

.editor.dialog-container:not([open]) {
	display: none;
}

.editor.dialog-container:open {
	display: flex;
	flex-direction: column;
}

.editor.dialog-container>.title {
	color: white;
	background: rgba(35, 131, 195, 0.95);
	border: none;
}

.editor .title i {
	float: right;
	line-height: 40px;
}

.editor .title i:hover {
	color: red;
}

.editor.dialog-content {
	width: 100%;
	margin-top: 40px;
	height: calc(100% - 80px);
	padding: 0;
	//overflow: hidden;
}

.editor.cmd-options-menu {
	display: flex;
	flex-direction: row;
	/* margin-top: 2px; */
	height: 100px;
	width: 100%;
	background-color: #4ea4e0;
	color: white;
	align-items: center;
	justify-content: center;
	vertical-align: middle;
	/*opacity: 0.75;*/
}

.editor.cmd-options-icons-bar {
	display: inline-flex;
	background-color: transparent;
	color: black;
	align-items: center;
	justify-content: center;
	white-space: nowrap;
	width: 90%;
	height: 95%;
	vertical-align: middle;
}

.editor.cmd-options-icon {
	display: flex;
	flex-direction: column;
	background-color: transparent;
	color: black;
	align-items: center;
	justify-content: center;
	white-space: nowrap;
	width: 90%;
	height: 100%;
	vertical-align: middle;
	padding: 5px;
}

.editor.cmd-options-icon:hover {
	background: rgba(8, 8, 8, 0.05);
}

.editor.cmd-options-icon-wrapper {
	height: 32px;
	width: 32px;
	font-size: 27px;
}

.editor.cmd-options-icon.red {
	color: #903c3c;
}

.editor.cmd-options-icon.green {
	color: #3b7a4c;
}

.editor.cmd-options-icon span {
	color: white;
}

.editor.cmd-options-icon i {
	display: inline-flex;
	padding: 20px;
	justify-content: center;
	vertical-align: middle;
	align-items: center;
}

.editor.cmd-options-qns i {
	font-size: 18px;
	line-height: 25px;
	margin: 0;
	color: #5a5a5a;
	padding: 0px 4px;
	width: 32px;
	height: 32px;
	text-align: center;
}

.editor.cmd-options-qns {
	display: none;
	position: relative;
	width: 90%;
	height: calc(100% - 130px);
	margin: 15px auto;
	border: 1px solid #dedede;
	overflow: auto;
}




.editor.cmd-options-qns-button-bar {
	position: absolute;
	bottom: 0;
	width: 100%;
	text-align: right;
	height: 40px;
	border-top: 1px solid #dedede;
}

.editor.cmd-options-qns-button-bar>div[name='next'] {
	float: left
}

.editor.cmd-options-qns-button-bar>div[name='previous'] {
	float: left
}

.editor.editor-button {
	display: inline-block;
	margin: 5px 5px 0px 2px;
	padding: 2px 5px;
	background: rgb(244, 244, 244);
	border: solid #d2d2d2 1px;
	color: #333;
	width: 80px;
	text-align: center;
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	font-family: 'Lato', sans-serif;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
}

.editor.editor-button:hover {
	background: #eaeaea;
}

.editor.cmd-options-qn {
	display: block;
	margin-top: 60px;
	padding: 5px;
	width: 90%;
}

.editor.cmd-options-data {
	display: block;
	margin-top: 3px;
	padding: 5px;
	width: 50%;
}
.editor.configure-layout-data {
  display:inline-block;
  margin-top:30px;
  width: 100%;
  padding: 5px;
  height: 40px;
}
.editor.configure-layout-data-ws{
	display:inline-block;
  	width: 75%;
  	vertical-align: bottom;
}
.editor.editor-button.browse {
	margin: 5px 5px 0px 2px;
	padding: 5px 3px;
	line-height: 1.5;
	//-webkit-appearance: button;
}

/* editor app related styles ends*/
