<html>
<head>
    <title>Warrior Data File Editor</title>
</head>
{% load staticfiles %}
<script src="{% static 'core/js/jquery.min.js' %}"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="{% static 'wdf_edit/js/main.js' %}"></script>
<body>
    <div id="main_info">
    <!-- <div class="csrf-container">{% csrf_token %}</div> -->

    <form action="/katana/wdf/post" method="post">
        <div class="csrf-container">{% csrf_token %}</div>
        <div class="row" id="main_row">
        {% for system in data.system %}
            {% if system.ip %}
                <div class="col-sm-12" id="{{ system.name }}-control-box"><label>{{ system.name }}</label>
                {% for k, v in system.items %}
                    {% if k != "name" %}
                        <div class="col-sm-3">{{ k }}</div>
                        <div class="col-sm-9"><input name="{{ system.name }}.{{ k }}" value="{{ v }}"></input></div>
                    {% endif %}
                {% endfor %}
                <button id="{{ system.name }}-toggle" class="toggle" type="button">Toggle</button>
                </div>
            {% elif "ip" in system.subsystem %}
                <div class="col-sm-12" id="{{ system.name }}.{{ system.subsystem.name }}-control-box"><label>{{ system.name }}.{{ system.subsystem.name }}</label>
                {% for k, v in system.subsystem.items %}
                    {% if k != "name" %}
                        <div class="col-sm-3">{{ k }}</div>
                        <div class="col-sm-9"><input name="{{ system.name }}.{{ system.subsystem.name }}.{{ k }}" value="{{ v }}"></input></div>
                    {% endif %}
                {% endfor %}
                <button id="{{ system.name }}.{{ system.subsystem.name }}-toggle" class="toggle" type="button">Toggle</button>
                </div>
            {% elif system.subsystem %}
                {% for subsys in system.subsystem %}
                    <div class="col-sm-12" id="{{ system.name }}.{{ subsys.name }}-control-box"><label>{{ system.name }}.{{ subsys.name }}</label>
                    {% for k, v in subsys.items %}
                        {% if k != "name" %}
                            <div class="col-sm-3">{{ k }}</div>
                            <div class="col-sm-9"><input name="{{ system.name }}.{{ subsys.name }}.{{ k }}" value="{{ v }}"></input></div>
                        {% endif %}
                    {% endfor %}
                    <button id="{{ system.name }}.{{ subsys.name }}-toggle" class="toggle" type="button">Toggle</button>
                    </div>
                {% endfor %}
            {% endif %}
        {% endfor %}
        </div>
        <input id="submit" type="submit" value="Submit">
    </form>
    <button id="add">add system</button>

    </div>
    <!-- <button id="save"">Save</button> -->
</body>
</html>