<div id="main_info" class="wdf-container">
    {% load static %}
    <!-- <link rel="stylesheet" href="{% static 'wdf_edit/css/animate.min.css' %}"> -->
    <div class="csrf-container">{% csrf_token %}</div>

    <form id="big-box">
        <div class="row">
            <div class="col-md-1"><label class="wdf-label">Filepath:</label></div>
            <div class="col-md-8"><input class="wdf-input" name="filepath" value="{{ filepath }}"/></div>
            <div class="col-md-2">
                <button class="btn i-info" katana-click="wdf.cancel" type="button"><i class="fa fa-times"/> Cancel</button>
                <button class="btn i-info" katana-click="wdf.submit" type="button"><i class="fa fa-save"/> Submit</button>
            </div>
            <div class="col-md-1"><button class="btn i-info" katana-click="wdf.addSystem" type="button"><i class="fa fa-plus"/> system</button></div>
        </div>

    <div class="row">
    <div class="col-md-9 wdf-scroll" id="wdf-editor-col">
    {% for system in data.system %}
        {% if system.ip %}
            <div id="{{ forloop.counter }}-1-control-box" class="control-box">
                <hr class="wdf-hr"/>
                <div class="row">
                    <div class="col-md-2">
                        <button class="btn btn-block i-info" katana-click="wdf.toggle" type="button"><i class="fa fa-toggle-down"/> Show/Hide</button>
                    </div>
                    <div class="col-md-2 text-center">
                        <button class="btn btn-block i-info" katana-click="wdf.addTag" type="button"><i class="fa fa-plus"/> Tag</button>
                    </div>
                    <div class="col-md-2 text-center">
                        <button class="btn btn-block i-info" katana-click="wdf.addSubSystem" type="button"><i class="fa fa-plus"/> Subsystem</button>
                    </div>
                    <div class="col-md-2 text-center">
                        <button class="btn btn-block i-danger" katana-click="wdf.deleteSystem" type="button"><i class="fa fa-trash"/> System</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2"><label class="wdf-label">System name:</label></div>
                    <div class="col-md-10"><input class="wdf-input" name="{{ forloop.counter }}-1-system_name" value="{{ system|get_item:'@name' }}"/></div>
                </div>
                {% with system|remove_name as system %}
                {% for k, v in system.items %}
                    {% if v|is_dict == "true" %}
                        <div class="row" id="content">
                            <div class="col-md-2">
                                <button class="btn i-info" katana-click="wdf.addChild" type="button"><i class="fa fa-plus"/> Child tag</button>
                                <button class="btn i-info" katana-click="wdf.deleteTag" type="button"><i class="fa fa-trash i-danger"/> Tag</button>
                            </div>
                            <div class="col-md-3"><input class="wdf-input" name="{{ forloop.parentloop.counter }}-1-{{ forloop.counter }}-0-key" value="{{ k }}"/></div>
                            <div class="col-md-7"><input class="wdf-input" name="{{ forloop.parentloop.counter }}-1-{{ forloop.counter }}-0-value" value=""/></div>
                        </div>
                        {% for child_k, child_v in v.items %}
                            <div class="row" id="subcontent">
                                <div class="col-md-1"></div>
                                <div class="col-md-1">
                                    <button class="btn btn-block i-info" katana-click="wdf.deleteChildTag" type="button"><i class="fa fa-trash i-danger"/> Tag</button>
                                </div>
                                <div class="col-md-3"><input class="wdf-input" name="{{ forloop.parentloop.parentloop.counter }}-1-{{ forloop.parentloop.counter }}-{{ forloop.counter }}-key" value="{{ child_k }}"/></div>
                                <div class="col-md-7"><input class="wdf-input" name="{{ forloop.parentloop.parentloop.counter }}-1-{{ forloop.parentloop.counter }}-{{ forloop.counter }}-value" value="{{ child_v }}"/></div>
                            </div>
                        {% endfor %}
                    {% elif k != "@name" %}
                        <div class="row" id="content">
                            <div class="col-md-2">
                                <button class="btn i-info" katana-click="wdf.addChild" type="button"><i class="fa fa-plus"/> Child tag</button>
                                <button class="btn i-info" katana-click="wdf.deleteTag" type="button"><i class="fa fa-trash i-danger"/> Tag</button>
                            </div>
                            <div class="col-md-3"><input class="wdf-input" name="{{ forloop.parentloop.counter }}-1-{{ forloop.counter }}-1-key" value="{{ k }}"/></div>
                            <div class="col-md-7"><input class="wdf-input" name="{{ forloop.parentloop.counter }}-1-{{ forloop.counter }}-1-value" value="{{ v }}"/></div>
                        </div>
                    {% endif %}
                {% endfor %}
                {% endwith %}
            </div>
        {% elif "ip" in system.subsystem %}
            <div id="{{ forloop.counter }}-1-control-box" class="control-box">
                <hr class="wdf-hr"/>
                <div class="row">
                    <div class="col-md-2">
                        <button class="btn btn-block i-info" katana-click="wdf.toggle" type="button"><i class="fa fa-toggle-down"/> Show/Hide</button>
                    </div>
                    <div class="col-md-2 text-center">
                        <button class="btn btn-block i-info" katana-click="wdf.addTag" type="button"><i class="fa fa-plus"/> Tag</button>
                    </div>
                    <div class="col-md-2 text-center">
                        <button class="btn btn-block i-info" katana-click="wdf.addSubSystem" type="button"><i class="fa fa-plus"/> Subsystem</button>
                    </div>
                    <div class="col-md-2 text-center">
                        <button class="btn btn-block i-danger" katana-click="wdf.deleteSystem" type="button"><i class="fa fa-trash"/> System</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2"><label class="wdf-label">System name:</label></div>
                    <div class="col-md-10"><input class="wdf-input" name="{{ forloop.counter }}-1-system_name" value="{{ system|get_item:'@name' }}"/></div>
                </div>
                <div class="row">
                    <div class="col-md-2"><label class="wdf-label">Subsystem name:</label></div>
                    <div class="col-md-10"><input class="wdf-input" name="{{ forloop.counter }}-1-subsystem_name" value="{{ system.subsystem|get_item:'@name' }}"/></div>
                </div>
                {% with system.subsystem|remove_name as system.subsystem %}
                {% for k, v in system.subsystem.items %}
                    {% if v|is_dict == "true" %}
                        <div class="row" id="content">
                            <div class="col-md-2">
                                <button class="btn i-info" katana-click="wdf.addChild" type="button"><i class="fa fa-plus"/> Child tag</button>
                                <button class="btn i-info" katana-click="wdf.deleteTag" type="button"><i class="fa fa-trash i-danger"/> Tag</button>
                            </div>
                            <div class="col-md-3"><input class="wdf-input" name="{{ forloop.parentloop.counter }}-1-{{ forloop.counter }}-0-key" value="{{ k }}"/></div>
                            <div class="col-md-7"><input class="wdf-input" name="{{ forloop.parentloop.counter }}-1-{{ forloop.counter }}-0-value" value=""/></div>
                        </div>
                        {% for child_k, child_v in v.items %}
                            <div class="row" id="subcontent">
                                <div class="col-md-1"></div>
                                <div class="col-md-1">
                                    <button class="btn btn-block i-info" katana-click="wdf.deleteChildTag" type="button"><i class="fa fa-trash i-danger"/> Tag</button>
                                </div>
                                <div class="col-md-3"><input class="wdf-input" name="{{ forloop.parentloop.parentloop.counter }}-1-{{ forloop.parentloop.counter }}-{{ forloop.counter }}-key" value="{{ child_k }}"/></div>
                                <div class="col-md-7"><input class="wdf-input" name="{{ forloop.parentloop.parentloop.counter }}-1-{{ forloop.parentloop.counter }}-{{ forloop.counter }}-value" value="{{ child_v }}"/></div>
                            </div>
                        {% endfor %}
                    {% elif k != "@name" %}
                        <div class="row" id="content">
                            <div class="col-md-2">
                                <button class="btn i-info" katana-click="wdf.addChild" type="button"><i class="fa fa-plus"/> Child tag</button>
                                <button class="btn i-info" katana-click="wdf.deleteTag" type="button"><i class="fa fa-trash i-danger"/> Tag</button>
                            </div>
                            <div class="col-md-3"><input class="wdf-input" name="{{ forloop.parentloop.counter }}-1-{{ forloop.counter }}-1-key" value="{{ k }}"/></div>
                            <div class="col-md-7"><input class="wdf-input" name="{{ forloop.parentloop.counter }}-1-{{ forloop.counter }}-1-value" value="{{ v }}"/></div>
                        </div>
                    {% endif %}
                {% endfor %}
                {% endwith %}
            </div>
        {% elif system.subsystem %}
            {% for subsys in system.subsystem %}
                <div id="{{ forloop.parentloop.counter }}-{{ forloop.counter }}-control-box" class="control-box">
                    <hr class="wdf-hr"/>
                    <div class="row">
                        <div class="col-md-2">
                            <button class="btn btn-block i-info" katana-click="wdf.toggle" type="button"><i class="fa fa-toggle-down"/> Show/Hide</button>
                        </div>
                        <div class="col-md-2 text-center">
                            <button class="btn btn-block i-info" katana-click="wdf.addTag" type="button"><i class="fa fa-plus"/> Tag</button>
                        </div>
                        <div class="col-md-2 text-center">
                            <button class="btn btn-block i-info" katana-click="wdf.addSubSystem" type="button"><i class="fa fa-plus"/> Subsystem</button>
                        </div>
                        <div class="col-md-2 text-center">
                            <button class="btn btn-block i-danger" katana-click="wdf.deleteSystem" type="button"><i class="fa fa-trash"/> System</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2"><label class="wdf-label">System name:</label></div>
                        <div class="col-md-10"><input class="wdf-input" name="{{ forloop.parentloop.counter }}-{{ forloop.counter }}-system_name" value="{{ system|get_item:'@name' }}"/></div>
                    </div>
                    <div class="row">
                        <div class="col-md-2"><label class="wdf-label">Subsystem name:</label></div>
                        <div class="col-md-10"><input class="wdf-input" name="{{ forloop.parentloop.counter }}-{{ forloop.counter }}-subsystem_name" value="{{ subsys|get_item:'@name' }}"/></div>
                    </div>
                    {% with subsys|remove_name as subsys %}
                    {% for k, v in subsys.items %}
                        {% if v|is_dict == "true" %}
                            <div class="row" id="content">
                                <div class="col-md-2">
                                    <button class="btn i-info" katana-click="wdf.addChild" type="button"><i class="fa fa-plus"/> Child tag</button>
                                    <button class="btn i-info" katana-click="wdf.deleteTag" type="button"><i class="fa fa-trash i-danger"/> Tag</button>
                                </div>
                                <div class="col-md-3"><input class="wdf-input" name="{{ forloop.parentloop.parentloop.counter }}-{{ forloop.parentloop.counter }}-{{ forloop.counter }}-0-key" value="{{ k }}"/></div>
                                <div class="col-md-7"><input class="wdf-input" name="{{ forloop.parentloop.parentloop.counter }}-{{ forloop.parentloop.counter }}-{{ forloop.counter }}-0-value" value=""/></div>
                            </div>
                            {% for child_k, child_v in v.items %}
                                <div class="row" id="subcontent">
                                    <div class="col-md-1"></div>
                                    <div class="col-md-1">
                                        <button class="btn btn-block i-info" katana-click="wdf.deleteChildTag" type="button"><i class="fa fa-trash i-danger"/> Tag</button>
                                    </div>
                                    <div class="col-md-3"><input class="wdf-input" name="{{ forloop.parentloop.parentloop.parentloop.counter }}-{{ forloop.parentloop.parentloop.counter }}-{{ forloop.parentloop.counter }}-{{ forloop.counter }}-key" value="{{ child_k }}"/></div>
                                    <div class="col-md-7"><input class="wdf-input" name="{{ forloop.parentloop.parentloop.parentloop.counter }}-{{ forloop.parentloop.parentloop.counter }}-{{ forloop.parentloop.counter }}-{{ forloop.counter }}-value" value="{{ child_v }}"/></div>
                                </div>
                            {% endfor %}
                        {% elif k != "@name" %}
                            <div class="row" id="content">
                                <div class="col-md-2">
                                    <button class="btn i-info" katana-click="wdf.addChild" type="button"><i class="fa fa-plus"/> Child tag</button>
                                    <button class="btn i-info" katana-click="wdf.deleteTag" type="button"><i class="fa fa-trash i-danger"/> Tag</button>
                                </div>
                                <div class="col-md-3"><input class="wdf-input" name="{{ forloop.parentloop.parentloop.counter }}-{{ forloop.parentloop.counter }}-{{ forloop.counter }}-1-key" value="{{ k }}"/></div>
                                <div class="col-md-7"><input class="wdf-input" name="{{ forloop.parentloop.parentloop.counter }}-{{ forloop.parentloop.counter }}-{{ forloop.counter }}-1-value" value="{{ v }}"/></div>
                            </div>
                        {% endif %}
                    {% endfor %}
                    {% endwith %}
                </div>
            {% endfor %}
        {% endif %}
    {% endfor %}
    </form>
    </div>

    <div class="col-md-3 wdf-scroll">
    <hr class="wdf-hr"/>
    {% for system in data_read.system %}
        {% if system.ip %}
            <div><button class="btn" katana-click="wdf.jump_to" linkto="#{{ forloop.counter }}-1-control-box" type="button"><i class="fa fa-desktop"/> {{ system|get_item:'@name' }}</button></div>
        {% elif "ip" in system.subsystem %}
            <div><button class="btn" katana-click="wdf.jump_to" linkto="#{{ forloop.counter }}-1-control-box" type="button"><i class="fa fa-desktop"/> {{ system|get_item:'@name' }} - {{ system.subsystem|get_item:'@name' }}</button></div>
        {% elif system.subsystem %}
            {% for subsys in system.subsystem %}
                <div><button class="btn" katana-click="wdf.jump_to" linkto="#{{ forloop.parentloop.counter }}-{{ forloop.counter }}-control-box" type="button"><i class="fa fa-desktop"/> {{ system|get_item:'@name' }} - {{ subsys|get_item:'@name' }}</button></div>
            {% endfor %}
        {% endif %}
    {% endfor %}
    </div></div>

    <div id="system_template" auto-init="wdf.hide">
        <div id="template-system" class="control-box">
            <hr class="wdf-hr"/>
            <div class="row">
                <div class="col-md-2"><button class="btn btn-block i-info" katana-click="wdf.toggle" type="button"><i class="fa fa-toggle-down"/> Show/Hide</button></div>
                <div class="col-md-2 text-center"><button class="btn btn-block i-info" katana-click="wdf.addTag" type="button"><i class="fa fa-plus"/> Tag</button></div>
                <div class="col-md-2 text-center"><button class="btn btn-block i-info" katana-click="wdf.addSubSystem" type="button"><i class="fa fa-plus"/> Subsystem</button></div>
                <div class="col-md-2 text-center"><button class="btn btn-block i-danger" katana-click="wdf.deleteSystem" type="button"><i class="fa fa-trash"/> System</button></div>
            </div>
            <div class="row">
                <div class="col-md-2"><label class="wdf-label">System name:</label></div>
                <div class="col-md-10"><input class="wdf-input" name="template-system-name" value=""/></div>
            </div>
            <div class="row" id="content">
                <div class="col-md-2">
                    <button class="btn i-info" katana-click="wdf.addChild" type="button"><i class="fa fa-plus"/> Child tag</button>
                    <button class="btn i-info" katana-click="wdf.deleteTag" type="button"><i class="fa fa-trash i-danger"/> Tag</button>
                </div>
                <div class="col-md-3"><input class="wdf-input" name="template-system.tag" value="tag_name"/></div>
                <div class="col-md-7"><input class="wdf-input" name="template-system.value" value="value"/></div>
            </div>
        </div>
    </div>

    <div id="subsystem_template" auto-init="wdf.hide">
        <div id="template-subsystem" class="control-box">
            <hr class="wdf-hr"/>
            <div class="row">
                <div class="col-md-2"><button class="btn btn-block i-info" katana-click="wdf.toggle" type="button"><i class="fa fa-toggle-down"/> Show/Hide</button></div>
                <div class="col-md-2 text-center"><button class="btn btn-block i-info" katana-click="wdf.addTag" type="button"><i class="fa fa-plus"/> Tag</button></div>
                <div class="col-md-2 text-center"><button class="btn btn-block i-info" katana-click="wdf.addSubSystem" type="button"><i class="fa fa-plus"/> Subsystem</button></div>
                <div class="col-md-2 text-center"><button class="btn btn-block i-danger" katana-click="wdf.deleteSystem" type="button"><i class="fa fa-trash"/> System</button></div>
            </div>
            <div class="row">
                <div class="col-md-2"><label class="wdf-label">System name:</label></div>
                <div class="col-md-10"><input class="wdf-input" name="template-system-name" value=""/></div>
            </div>
            <div class="row">
                <div class="col-md-2"><label class="wdf-label">Subsystem name:</label></div>
                <div class="col-md-10"><input class="wdf-input" name="template-subsystem-name" value=""/></div>
            </div>
            <div class="row" id="content">
                <div class="col-md-2">
                    <button class="btn i-info" katana-click="wdf.addChild" type="button"><i class="fa fa-plus"/> Child tag</button>
                    <button class="btn i-info" katana-click="wdf.deleteTag" type="button"><i class="fa fa-trash i-danger"/> Tag</button>
                </div>
                <div class="col-md-3"><input class="wdf-input" name="template-subsystem.tag" value="tag_name"/></div>
                <div class="col-md-7"><input class="wdf-input" name="template-subsystem.value" value="value"/></div>
            </div>
        </div>
    </div>

    <div id="tag_template" auto-init="wdf.hide">
        <div class="row" id="content">
            <div class="col-md-2">
                <button class="btn i-info" katana-click="wdf.addChild" type="button"><i class="fa fa-plus"/> Child tag</button>
                <button class="btn i-info" katana-click="wdf.deleteTag" type="button"><i class="fa fa-trash i-danger"/> Tag</button>
            </div>
            <div class="col-md-3"><input class="wdf-input" name="template-tag.tag" list="bowser"/></div>
            <div class="col-md-7"><input class="wdf-input" name="template-tag.value" list="boo"/></div>
        </div>
    </div>

    <div id="child_tag_template" auto-init="wdf.hide">
        <div class="row" id="subcontent">
            <div class="col-md-1"/>
            <div class="col-md-1"><button class="btn btn-block i-info" katana-click="wdf.deleteChildTag" type="button"><i class="fa fa-trash i-danger"/> Tag</button></div>
            <div class="col-md-3"><input class="wdf-input" name="template-tag.tag" value="tag_name"/></div>
            <div class="col-md-7"><input class="wdf-input" name="template-tag.value" value="value"/></div>
        </div>
    </div>

    <datalist id="bowser">
        <option value="Mario"/>
        <option value="Luigi"/>
        <option value="Link"/>
    </datalist>

    <datalist id="boo">
        <option value="Toad"/>
        <option value="Peach"/>
        <option value="Yoshi"/>
    </datalist>
</div>
