<head>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'editor/css/editor.css' %}">
    <link rel="stylesheet" href="{% static 'editor/css/codemirror.css' %}">
    <script src="{ static 'editor/js/xml.js'}"></script>
</head>
<body>

  <div class = "csrf-container"> {% csrf_token %} </div>
  <div id="editor-container" class="editor edit-container" >
              <div class="editor layout-panel"  auto-init="editor.filesViewer.loadFilesTree">
                      <div class="editor panels-heading">
                        <label>Files</label>
                        <div class="editor panels-heading-icon">
                          <i title="Layout Settings" class="fa fa-edit" id="configure_layout_btn" katana-click="editor.layoutViewer.configureLayout"></i>
                        </div>
                        <div class="editor panels-heading-icon">
                          <i title="Refresh" class="fa fa-refresh" id="editor_load_layout_btn" katana-click="editor.layoutViewer.loadWs"></i>
                        </div>
                        <div class="editor panels-heading-icon">
                          <i title="Copy to Selections Area" class="fa fa-arrow-right" id="editor-edit-btn" katana-click="editor.filesEditor.loadSelectFile"></i>
                        </div>
                      </div>
                      <div class="editor panels-body ">
                        <div id="editor_layout_container"  data-startdir="{{defaults.start_dir}}" ></div>
                      </div>
              </div>
    <div class = "editor selections-panel" id="editor-selections-panel">
      <div class = "editor panels-heading" id = "editor-selections-panel-heading">
        <label> Code Editor </label>
      </div>
      <div class = "editor selections-panels-body">
        <textarea id = "code"></textarea>
      </div>
    </div>

</div>
</body>
