{% load static %}
{% load jsonify %}
{{title}}
Editing:{{ myfile }}
Using: {{ docSpec }}

<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<link rel="stylesheet" href="{% static './jquery-ui-1.12.1.custom/jquery-ui.css' %}">
<script type="text/javascript" src="{% static "./badgerfish.js" %}"></script>
<script type="text/javascript" src="{% static "./json.js" %}"></script>
<script type="text/javascript" src="{% static "./xmlparser.js" %}"></script>
<script type="text/javascript" src="{% static "./doSuiteHandling.js" %}"></script>


<h2>Details</h2>
<div class="form-group">
		<div class="row">
			<label class="col-md-2 text-right" >Name*:</label>
			<input class="col-md-4 text-right" type="text" id="suiteName" name="suiteName" value="{{suiteName}}"/>
			<label class="col-md-2 text-right" >Title*:</label>
			<input class="col-md-4 text-right" type="text" id="suiteTitle" name="suiteTitle" value="{{suiteTitle}}" />
		</div>
		<div class="row">
			<label class="col-md-2 text-right" >Engineer*:</label>
			<input class="col-md-4 text-right" type="text" id="suiteEngineer" name="suiteEngineer" value="{{suiteEngineer}}" />
			
			<label class="col-md-2 text-right" >Last Updated:</label>
			<input class="col-md-4 text-right" type="text" id="projectDate" name="suiteDate" value="{{suiteDate}}" />
		</div>
		<div class="row">
			<label class="col-md-2 text-right" >defaultOnError:</label>
			<select class="col-md-4 text-right" type="text" id="default_onError" name="default_onError" value="{{suitedefault_onError}}" >
			<option value="next">next</option>
			<option value="abort">abort</option>
			<option value="abort_as_error">abort_as_error</option>
			<option value="goto">goto</option> 
			</select>
			<label class="col-md-2 text-right" for="projectDatatype">Data Type:</label>
			<select class="col-md-4 text-right" type="text" id="suiteDatatype" name="suiteDatatype" value="{{suiteDatatype}}" >
				<option value="sequential_testcases">sequential_testcases</option>
				<option value="parallel_testcases">parallel_testcases</option>

			</select>
		</div>
		<div class="row">
			<label class="col-md-2 text-right" >Results Dir:</label>
			<input class="col-md-4 text-right" type="text" id="suiteResults" name="suiteResults" value="{{suiteResults}}" />
		</div>
		
</div>

<div>
	<h2>Test Cases For Suite</h2>
	
</div>
         
<div class="container">
	<div class="col-md-6" id="listOfTestCasesForSuite" > </div>
	<div col="col-md-6"><label id="fileContents"></label><div>

    <div class="btn-group col-md-8" role="group">   
		<button id="addSuite" class="btn btn-primary" onclick="addCaseToSuite()">Add</button>
		<button class="btn btn-primary" onclick="start()">Refresh</button>
		<button class="btn btn-primary" onclick="openAllSuites()">Show All</button>
		<button class="btn btn-success" onclick="mapUiToSuiteJson()">Save</button>
	</div>
</div>

<div>
	<input class="col-md-12 text-right" type="text" id="my_file_to_save" name="my_file_to_save" value="{{myfile}}"/>
</div>	
<script type="text/javascript">
function start_suites() {
	
	jsonTestCases = {{suiteCases|jsonify }};
	jsonSuiteObject = {{fulljson|jsonify}};
	mapFullSuiteJson(jsonSuiteObject);
}; 
start_suites();
</script>

