
{% load static %}
<link rel="stylesheet" href="{% static 'suites/css/suites.css' %}">	
<div id="OverwriteSuiteHere">
<div class="csrf-container">{% csrf_token %}</div>

<div class="tool-bar">
<label  class="suite-header-label" >Suites</label>
<label  class="suite-header-ilabel" >Search</label>
 	Search: <input id="jstreeFilterText" class="col-md-2" />	
	<button class="button" katana-click="suites.startNewSuite">Add New Suite</button>
</div>
  	<div id="mySuite" auto-init="suites.initSuiteTree">	</div>
 <div class="row">
 	<div  class="col-md-4" id="mySuiteTree"></div>
 </div>	

</div>
