
{% load static %}
{% load jsonify %}

<link rel="stylesheet" href="{% static './table.css' %}">
<script type="text/javascript" src="{% static "./doSuiteHandling.js" %}"></script>

</script>
<body>


<h2>List of Suites</h2>		
  <div id="mySuite">		</div>

  <div class="btn-group" role="group">   
      <button id="addNewCase" class="btn btn-success" onclick="startNewSuite()">Add New Suite</button>
  </div>
<div id="mySuiteTree"></div>
<div id="mmm" >{{treejs|jsonify}}</div>

</body>

<script> 
var sdata= katana.$activeTab.find('#mmm').text();
console.log(sdata);
var jdata = { 'core' : { 'data' : [ JSON.parse(sdata)]}};

function startNewSuite() {
    var xref="./suites/editSuite/?fname=NEW"; 
  katana.templateAPI.load(xref, null, null, 'Suite') ;
}
//
katana.$activeTab.find('#mySuiteTree').on("select_node.jstree", function (e, data) { 
      var thePage = data.node.li_attr['data-path'];
      console.log(thePage);
      katana.$view.one('tabAdded', function(){
        
      mapFullSuiteJson(thePage);
  });
  var xref="./suites/editSuite/?fname=" + thePage; 
  katana.templateAPI.load(xref, null, null, 'Suite') ;
});

//
katana.$activeTab.find('#mySuiteTree').jstree(jdata); 
katana.$activeTab.find('#mmm').hide();




</script>
