<body>
    <div class="blackduck">
        <div class="tab red" katana-click="katana.templateAPI.subAppLoad" url="/katana/blackduck/settings"><i class="fa fa-gears"></i><span>Settings</span></div>
        <div class="tab yellow" katana-click="katana.templateAPI.subAppLoad" url="/katana/blackduck/settings"><i class="fa fa-folder-open"></i><span>Build a scan</span></div>
        <div class="tab green" katana-click="katana.templateAPI.subAppLoad" url="/katana/blackduck/settings"><i class="fa fa-flag-checkered"></i><span>Launch a scan</span></div>
    </div>
    <div class="limited-styles-true"></div>
</body>