<!DOCTYPE html>
<html>
<head>
    <title>Wapp Store</title>
</head>

<body>

    <div class="container-fluid text-center" style="padding: 5rem;">
        <div class="row">
            <div class="col">
                <div class="card-body text-center">
                    <i class="fa fa-puzzle-piece fa-5x blue" style="line-height:inherit!important;"></i>
                </div>
                <div class="col">
                    <h4>{{ banner }}</h4>
                    <p>{{ data }}</p>
                </div>
            </div>
        </div>
    </div>

</body>

</html>