{% for subsys in system.subsystem %}
    <div id="{{ forloop.parentloop.counter }}-{{ forloop.counter }}-control-box" class="control-box">
        {% if forloop.counter == 1 %}
            <div class="sub-tool-bar">
                <div class="field">
                    <input type="checkbox" class="wdf-sys-checkbox" katana-click="wdf.sysDefaultCheck" name="{{ forloop.parentloop.counter }}-{{ forloop.counter }}-default" title="Default"/><label>Default</label>
                </div>
                <div class="field title-block">
                    <input class="wdf-input" name="{{ forloop.parentloop.counter }}-{{ forloop.counter }}-system_name" placeholder="System name" katana-change="wdf.sysNameChange" value="{{ system|get_item:'@name' }}"/>
                </div>
                <i katana-click="wdf.toggle" class="fa fa-toggle-up" title="Hide/Show"/>
                <i katana-click="wdf.addTag" class="fa fa-plus" title="Add Data"/>
                <i katana-click="wdf.addSubSystem" class="fa fa-plus-square" title="Add Subsystem"/>
                <i katana-click="wdf.deleteSystem" class="fa fa-trash" title="Delete Subsystem"/>
            </div>
        {% else %}
            <div class="sub-tool-bar wdf-indent">
                <div class="field" style="display: none;">
                        <input type="checkbox" class="wdf-sys-checkbox" katana-click="wdf.sysDefaultCheck" name="{{ forloop.parentloop.counter }}-{{ forloop.counter }}-default" title="Default"/><label>Default</label>
                </div>
                <div class="field title-block" style="display: none;">
                    <input class="wdf-input" name="{{ forloop.parentloop.counter }}-{{ forloop.counter }}-system_name" placeholder="System name" katana-change="wdf.sysNameChange" value="{{ system|get_item:'@name' }}"/>
                </div>
                <i katana-click="wdf.toggle" class="fa fa-toggle-up" title="Hide/Show"/>
                <i katana-click="wdf.addTag" class="fa fa-plus" title="Add Data"/>
                <i katana-click="wdf.addSubSystem" class="fa fa-plus-square" title="Add Subsystem"/>
                <i katana-click="wdf.deleteSystem" class="fa fa-trash" title="Delete Subsystem"/>
            </div>
        {% endif %}
        <div class="field-inline">
            <input type="checkbox" class="wdf-subsys-checkbox" katana-click="wdf.subsysDefaultCheck" name="{{ forloop.parentloop.counter }}-{{ forloop.counter }}-default-subsys" title="Default Subsystem"/>
            <label class="wdf-label">Subsystem name:</label>
            <input class="wdf-input" name="{{ forloop.parentloop.counter }}-{{ forloop.counter }}-subsystem_name" katana-change="wdf.subSysNameChange" value="{{ subsys|get_item:'@name' }}"/>
        </div>
        {% with subsys|remove_name as subsys %}
        {% for k, v in subsys.items %}
            {% if v|is_dict == "true" %}
                <div class="field-inline dual-input" id="content">
                    <label>
                        <i katana-click="wdf.addChild" class="fa fa-plus" title=" Sub Data"/>
                        <i katana-click="wdf.deleteTag" class="fa fa-trash i-danger" title="Data"/>
                    </label>
                    <input child_count="{{ v|get_length }}" class="wdf-input" name="{{ forloop.parentloop.parentloop.counter }}-{{ forloop.parentloop.counter }}-{{ forloop.counter }}-0-key" katana-change="wdf.validateKey" value="{{ k }}" list="most_used_tags"/>
                    <input style="display: none;" class="wdf-input" name="{{ forloop.parentloop.parentloop.counter }}-{{ forloop.parentloop.counter }}-{{ forloop.counter }}-0-value" value=""/>
                </div>
                {% for child_k, child_v in v.items %}
                    <div class="field-inline dual-input" id="subcontent">
                        <label>
                            <i katana-click="wdf.deleteChildTag" class="fa fa-trash i-danger" title="Sub Data"/>
                        </label>
                        <input class="wdf-input" name="{{ forloop.parentloop.parentloop.parentloop.counter }}-{{ forloop.parentloop.parentloop.counter }}-{{ forloop.parentloop.counter }}-{{ forloop.counter }}-key" katana-change="wdf.validateKey" value="{{ child_k }}" list="most_used_tags"/>
                        <input class="wdf-input" name="{{ forloop.parentloop.parentloop.parentloop.counter }}-{{ forloop.parentloop.parentloop.counter }}-{{ forloop.parentloop.counter }}-{{ forloop.counter }}-value" value="{{ child_v }}"/>
                    </div>
                {% endfor %}
            {% elif k != "@name" %}
                <div class="field-inline dual-input" id="content">
                    <label>
                        <i katana-click="wdf.addChild" class="fa fa-plus" title=" Sub Data"/>
                        <i katana-click="wdf.deleteTag" class="fa fa-trash i-danger" title="Data"/>
                    </label>
                    <input class="wdf-input" name="{{ forloop.parentloop.parentloop.counter }}-{{ forloop.parentloop.counter }}-{{ forloop.counter }}-1-key" katana-change="wdf.validateKey" value="{{ k }}" list="most_used_tags"/>
                    <input class="wdf-input" name="{{ forloop.parentloop.parentloop.counter }}-{{ forloop.parentloop.counter }}-{{ forloop.counter }}-1-value" value="{{ v }}"/>
                </div>
            {% endif %}
        {% endfor %}
        {% endwith %}
    </div>
{% endfor %}