{% load static %}
{% load jsonify %}




<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<link rel="stylesheet" href="{% static './jquery-ui-1.12.1.custom/jquery-ui.css' %}">
<link rel="stylesheet" href="{% static './table.css' %}">
<body>
<script type="text/javascript" src="{% static "./badgerfish.js" %}"></script>
<script type="text/javascript" src="{% static "./json.js" %}"></script>
<script type="text/javascript" src="{% static "./xmlparser.js" %}"></script>
<script type="text/javascript" src="{% static "./doCasesHandling.js" %}"></script>

<p> 

<h2>Details</h2>
<div class="form-group">

			<div class="field">
				<label >Name*:</label>
				<input type="text" id="caseName"  value="{{caseName}}"/>
			</div>
			<div class="field">
				<label >Name*:</label>
				<input type="text" id="caseTitle"  value="{{caseTitle}}"/>
			</div>
			<div class="field">
				<label >Name*:</label>
				<input type="text" id="caseCategory"  value="{{caseCategory}}"/>
			</div>
			<div class="field">
				<label >State Options:</label>
				<select class="col-4 text-right" type="text" id="caseState" name="caseState" value="{{caseState}}" >
				{% for x in caseStateOptions %}
					<option id="{{x}}">{{x}}</option>
				{% endfor %}
			</select>
			</div>
			<div class="field">
				<label >Engineer:</label>
				<input type="text" id="caseEngineer"  value="{{caseEngineer}}"/>
			</div>
			<div class="field">
				<label >Date:</label>
				<input type="text" id="caseDate"  value="{{caseDate}}"/>
			</div>
			<div class="field">
				<label class=" text-right" for="default_onError">Default On Error:</label>
				<select class="text-right" type="text" id="default_onError" name="default_onError" value="{{default_onError}}" >
					<option value="next">Custom</option>
					<option value="abort">Hybrid</option>
					<option value="abort_as_error">Iterative</option>
					<option value="goto">Iterative</option>
				</select>
			
			</div>
			<div>
			<label class="col-2 text-right" for="caseDatatype">Data Type:</label>
			<select class="col-4 text-right" type="text" id="caseDatatype" name="caseDatatype" value="{{caseDatatype}}" >
				<option value="Custom">Custom</option>
				<option value="Hybrid">Hybrid</option>
				<option value="Iterative">Iterative</option>
			</select>
			</div>
			<input class="col-2 text-right" type="checkbox" id="ck_dataPath" name="ck_dataPath" value="Y">Use DataPath</input>
			<div class="field">
				<label >Data Path:</label>
				<input type="text" id="caseResultsdir"  value="{{caseResultsdir}}"/>
			</div>
			<div class="field">
				<label >Results*:</label>
				<input type="text" id="caseExpectedResults"  value="{{caseExpectedResults}}"/>
			</div>
			<div class="field">
				<label >Logs:</label>
				<input type="text" id="caseLogsdir"  value="{{caseLogsdir}}"/>
			</div>
			<div class="field">
				<label >InputDataFile:</label>
				<input type="text" id="caseInputDataFile"  value="{{caseInputDataFile}}"/>
			</div>

</div>

<div>
	<h2>Requirements</h2>
	<div id="tableOfCaseRequirements"></div>
</div>

	  
<div class="container-fluid">

   <h2>Steps</h2>
  	 <div id="tableOfTestStepsForCase"  class="col-md-6" />
	<div id="editTestCaseEntry" class="form-group col-md-6" />
     <div id="sourceFileText" color="red" class="col-md-6" >  FILL </div>    
   
</div>
<div id="listOfTestStepsForCase"  > {{fulljson|jsonify}} </div> 

<div class="btn-group" role="group">   
		<button id="addStep" class="btn btn-primary" onclick="addStepToCase()">Add</button>
		<button class="btn btn-primary" onclick="start()">Refresh</button>
		<button class="btn btn-secondary">Load</button>
		<button class="btn btn-success">Save</button>
	</div>      
	<div>
	<input class="col-md-12 text-right" type="text" id="my_file_to_save" name="my_file_to_save" value="{{myfile}}"/>
	</div>			

