{% load static %} 
<link rel="stylesheet" href="{% static 'cases/css/cases.css' %}">
    <div class="tool-bar">
        <i id="addNewCase" class="button" katana-click="cases.startNewCase">Add New Testcase</i>
        <i id="addStep" class="button" katana-click="cases.addNewTestStepToUI">Add Step To Case</i>
        <i class="button" katana-click="cases.addRequirementToCase">Add Requirement</i>
        <i class="button" katana-click="cases.sendCaseToServer">Save</i>

        
    </div>
<div class="csrf-container">{% csrf_token %}</div>

   <div auto-init="cases.mapFullCaseJson"> 
    <div class="container-fluid" >
        <div class="row">
            <div class="col-md-9">
                <div class="row ">
                    <div class="col">
                        <label>Name*:</label>
                        <input required type="text" id="caseName" value="{{caseName}}" />
                    </div>
                    <div class="col">
                        <label>Title*:</label>
                        <input required type="text" id="caseTitle" value="{{caseTitle}}" />
                    </div>
                    <div class="col">
                        <label>Category:</label>
                        <input required type="text" id="caseCategory" value="{{caseCategory}}" />
                    </div>
                </div>
                <div class="row ">
                    <div class="col">
                        <label>Logs:</label>
                        <input type="text" id="caseLogsdir" value="{{caseLogsdir}}" />
                    </div>
                    <div class="col">
                        <label>Expected Results:</label>
                       
                         <input  class="text-right" type="text" id="caseExpectedResults" value="{{caseExpectedResults}}">
                        </input>
                    </div>
                    <div class="col">
                        <label>Engineer*:</label>
                        <input type="text" id="caseEngineer" value="{{caseEngineer}}" />
                    </div>
                </div>
                <div class="row ">
                    <div class="col-md-2">
                        <label>Last Updated:</label>
                        <input type="text" id="caseDate" value="{{caseDate}} {{caseTime}}" />
                    </div>
                    <div class="col">
                        <label>Warrior Data File:</label>
                        <input type="checkbox" id="ck_dataPath" name="ck_dataPath" value="No Data Path"/>

                        <div class="btn-group col-md-12 case-results-dir">
                        <input type="text" id="caseInputDataFile" value="{{caseInputDataFile}}" />
                        
                        <button class="button case-results-dir" katana-click="cases.getCaseInputDataFile">...</button>
                        <button class="fa fa-pencil case-results-dir" katana-click="cases.start_wdfEditor">WDF</button>
                        </div>
                    </div>

                </div>
                <div class="row ">
                    <div class="col-md-2">
                        <label class=" text-right" for="default_onError">Default On Error:</label>
                        <select class="text-right" type="text" id="default_onError" name="default_onError" value="{{default_onError}}">
                                <option value="next">next</option>
                                <option value="abort">abort</option>
                                <option value="abort_as_error">abort as error</option>
                                <option value="goto">goto</option>
                          </select>
                        <select class="text-right" type="text" id="default_onError_goto" name="default_onError_goto" value="{{default_onError}}">
                        </select>
                    </div>
                    <div class="col-md-2">
                        <label>Case State:</label>
                        <select class="text-right" type="text" id="caseState" name="caseState" value="{{caseState}}" katana-click="cases.getCaseStateString">
                            {% for x in caseStateOptions %}
                            <option id="{{x}}">{{x}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-md-2">
                        <span>
                        <label for="ck_dataPath" id="caseDatatype_lbl">Data Type:</label>
                        
                        </span>
                         
                        <select class="text-right  " type="text" id="caseDatatype" name="caseDatatype" value="{{caseDatatype}}">
                            <option value="Custom">Custom</option>
                            <option value="Hybrid">Hybrid</option>
                            <option value="Iterative">Iterative</option>
                        </select>
                    </div>
                    <div class="col">
                        <label class="text-right " id="caseDatatype_lbl">Results Directory:</label>
                        <div class="btn-group col-md-12">
                        <input class="text-right " type="text" id="caseResultsdir" value="{{caseResultsdir}}">
                        <button class="button" katana-click="cases.getResultsDirForCases">...</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div id="tableOfCaseRequirements"></div>
            </div>
            <div id="savesubdir" class="hidden">{{savesubdir}}</div>   
            <div id="savefilepath" class="hidden">{{savefilepath}}</div>  <!-- Used for absolute path resolution -->
            <div id="fullpathname" class="hidden" >{{fullpathname}}</div>
            <div id="emptyTestCaseData" class="hidden"> {{emptyTestCase}} </div>
            <div id="listOfTestStepsForCase" class="hidden"> {{fulljsonstring}} </div> 
        </div>
        <div class="container-fluid col-md-12">
            <div class="row">
                <div id="tableOfTestStepsForCase" class="col-md-12 "></div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row" id="editCaseStepDiv" class="hidden">
                <div class="container-fluid">
                    <div class="row">
                        <div id="editCaseStepEntry" class="col-md-4">
                            <div class="field hidden">
                                <label>Row</label>
                                <input type="text" id="StepRowToEdit" value="" />
                            </div>
                            <div>
                            <button class="btn btn-success" id="saveEditCaseStep" katana-click="cases.saveTestCaseChanges">Save Changes To Test Step </button>
                            </div>                           
                            <div>
                                
                                 <input type="checkbox" id="StepDriverCkBx" name="StepDriverCkBx" value="TBD" >To be developed</input>
                
                            </div>
                            

                            <div class="field">
                                <label>Driver</label>
                                <select type="text" id="StepDriver" value="" />
                                <input type="text" class="hidden" id="StepDriverText" value="" />
                               
                            </div>

                            <div>
                                 <input type="checkbox" id="StepKeywordCkBx" name="StepKeywordCkBx" value="TBD">To Be Developed</input> 
                             </div>    

                             <div class="field">
                                 <label>Keyword</label>
                                 <select type="text" id="StepKeyword" value="" />
                                <input type="text" class="hidden" id="StepkeywordText" value="" />
                               
                            </div>
                            <div class="field">
                                <label>TS</label>
                                <input type="text" id="StepTS" value="" />
                            </div>
                            <div class="field">
                                <label>Description</label>
                                <input type="text" id="StepDescription" value="" />
                            </div>

                            <div class="field">
                                <label>wDescription</label>
                                <label type="text" id="StepWDescription" value="" />
                            </div>

                            <label class="text-right">Arguments, Values</label>
                           
                            <div id="arguments-textarea"> </div>

                            <div>
                                <button class="btn btn-success case-args-tbd hidden" id="appendArgument" katana-click="cases.appendPopupArgument">Append Argument </button>
                                
                            </div>



                            
                            <div class="field">
                                <label class=" text-right">ExecType:</label>
                                <select type="text" class="text-right" id="casesExecuteAtExecType" value="">
                                    <option value="yes">Yes</option>
                                    <option value="no">No</option>
                                    <option value="if">If</option>
                                    <option value="if not">If Not</option>
                                </select>
                            </div>

                            <div id="caseStepAllRules"/>
                            <div>
                                  <button class="btn btn-success rule-condition" id="addRuleToStep" katana-click="cases.addNewRuleToStep">Add Rule</button>
                            </div>
                            
                            <div class="field">
                                <label class="text-right">Run mode type:</label>
                                  <select type="text" class="text-right" id="runmode-at-value" value="">
                                    <option value="standard">Standard</option>
                                    <option value="RMT">RMT</option>
                                    <option value="RUF">RUF</option>
                                    <option value="RUP">RUP</option>
                                </select>
                                <label class="text-right runmode-value">Run mode value:</label>
                                <input class="text-right runmode-value" type="text"  id="runmode-at-type" value="" />
                            </div>
                            <div class="field">
                                <label class="text-right">impact</label>
                                <select type="text" id="StepImpact" value="">
                                    <option value="impact">impact</option>
                                    <option value="noimpact">noimpact</option>
                                </select>
                            </div>
                            <div class="field">
                                <label>Context</label>
                                <select type="text" class="text-right" id="StepContext" value="">
                                    <option value="positive">positive</option>
                                    <option value="negative">negative</option>
                                </select>

                            </div>

                            <div class="field">
                                <label class="text-right">On Error Action </label>
                                <select type="text" class="text-right" id="SteponError-at-action" value="">

                                    <option value="next">next</option>
                                    <option value="abort">abort</option>
                                    <option value="abort_as_error">abort as error</option>
                                    <option value="goto">goto</option>

                                </select>
                                <select type="text" class="text-right" id="SteponError-at-value" value="">
                                </select>
                            </div>

                            
                         <button class="btn btn-success" id="saveEditCaseStep2" katana-click="cases.saveTestCaseChanges">Save Changes To Test Step </button>
                               
                        </div>

                         <div class="col-md-8">
                            <div id="sourceCaseFileDef" class='case-signature'> Signature </div>
                            <pre id="sourceCaseFileText" class='case-scrollable-source-text' height="100%"> Source file </pre>
                       

                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid">
        </div>
    </div>
    </div>

    
