{% load static %}
{% load jsonify %}
{% block content %}
{{title}}
Editing:{{ myfile }}
Using: {{ docSpec }}


<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script type="text/javascript" src="{% static "./badgerfish.js" %}"></script>
<script type="text/javascript" src="{% static "./json.js" %}"></script>
<script type="text/javascript" src="{% static "./xmlparser.js" %}"></script>
<script type="text/javascript" src="{% static "./doCaseHandling.js" %}"></script>

<p> 

<h2>Details</h2>
<div class="form-group">
		<div class="row">
			<label class="col-md-2 text-right" for="caseName">Name*:</label>
			<input class="col-md-4 text-right" type="text" id="caseName" name="caseName" value="{{caseName}}"/>
			<label class="col-md-2 text-right" for="caseTitle">Title*:</label>
			<input class="col-md-4 text-right" type="text" id="caseTitle" name="caseTitle" value="{{caseTitle}}" />
		</div>
		<div class="row">
			<label class="col-md-2 text-right" for="caseCategory">Category:</label>
			<input class="col-md-4 text-right" type="text" id="caseCategory" name="caseCategory" value="{{caseCategory}}"  />
			<label class="col-md-2 text-right" for="caseState">State:</label>
			<select class="col-md-4 text-right" type="text" id="caseState" name="caseState" value="{{caseState}}" >
				{% for x in caseStateOptions %}
					<option id="{{x}}">{{x}}</option>
				{% endfor %}
			</select>
		</div>
		<div class="row">
			<label class="col-md-2 text-right" for="caseEngineer">Engineer*:</label>
			<input class="col-md-4 text-right" type="text" id="caseEngineer" name="caseEngineer" value="{{caseEngineer}}" />
			<label class="col-md-2 text-right" for="caseDate">Last Updated:</label>
			<input class="col-md-4 text-right" type="text" id="caseDate" name="caseDate" value="{{caseDate}}" />
		</div>
		<div class="row">
			<label class="col-md-2 text-right" for="defaultOnError">defaultOnError:</label>
			<input class="col-md-4 text-right" type="text" id="defaultOnError" name="defaultOnError" value="{{casedefaultOnError}}"/>
			<label class="col-md-2 text-right" for="caseDatatype">Data Type:</label>
			<select class="col-md-4 text-right" type="text" id="caseDatatype" name="caseDatatype" value="{{caseDatatype}}" >
				<option value="Custom">Custom</option>
				<option value="Hybrid">Hybrid</option>
				<option value="Iterative">Iterative</option>
			</select>
		</div>
		<div class="row">
			
			<input class="col-md-2 text-right" type="checkbox" id="ck_dataPath" name="ck_dataPath" value="Y">Use DataPath</input>
			<label class="col-md-2 text-right" for="logsDir">Logs Dir:</label>
			
			<input class="col-md-4 text-right" type="text" id="dataPath" name="dataPath" value="{{caseInputDataFile}}" />
		</div>
		<div class="row">
			<label class="col-md-2 text-right" for="resultsDir">Results Dir:</label>
			<input class="col-md-4 text-right" type="text" id="resultsDir" name="resultsDir" value="{{caseResultsdir}}" />
		</div>
		<div class="row">
			<label class="col-md-2 text-right" for="logsDir">Logs Dir:</label>
			<input class="col-md-4 text-right" type="text" id="logsDir" name="logsDir" value="{{caseLogsdir}}"/>
			<label class="col-md-2 text-right" for="expectedDir">Expected Results Dir:</label>
			<input class="col-md-4 text-right" type="text" id="expectedDir" name="expectedDir" value="{{caseExpectedResults}}"/>
		</div>
</div>

<div>
	<h2>Requirements</h2>
	<input type="text" id="newRequirementText" />
	<button id="addRequirementButton" class="btn btn-secondary" onclick="addRequirementToCase()">Add</button>
	<div id='listOfRequirements' class="col-md-12">

	</div>

</div>

	  
<div class="container-fluid">
   <h2>Steps</h2>
 	<div class="row">
	 <div id="listOfTestStepsForCase" class="col-md-6" >  </div> 
	 <div id="sourceFileText" color="red" class="col-md-6" >  FILL </div>    

	</div>

</div>

<div class="btn-group" role="group">   
		<button id="addStep" class="btn btn-primary" onclick="addStepToCase()">Add</button>
		<button class="btn btn-primary" onclick="start()">Refresh</button>
		<button class="btn btn-secondary">Load</button>
		<button class="btn btn-success">Save</button>
	</div>      
	<div>
	<input class="col-md-12 text-right" type="text" id="my_file_to_save" name="my_file_to_save" value="{{myfile}}"/>
	</div>			

<script type="text/javascript">
function start_cases() {


	jsonCaseObject = {{fulljson|jsonify}};
	mapFullCaseJson(jsonCaseObject);
	//mapCaseJsonToUi(jsonCaseSteps);
	//mapRequirementsToUI(jsonCaseRequirements);

}

start_cases();
</script>
{% endblock %}
