<div class="cases-intentional-space-x">
    <div style="height: auto; width: 50%; float: left; padding-right: 5px ">
        <table class="table table-bordered">
            <tbody>
            <tr>
                <th scope="row">Name</th>
                <td>{{ data.Name }}</td>
            </tr>
            <tr>
                <th scope="row">Title</th>
                <td>{{ data.Title }}</td>
            </tr>
            <tr>
                <th scope="row">Category</th>
                <td>{{ data.Category }}</td>
            </tr>
            <tr>
                <th scope="row">State</th>
                <td>{{ data.State }}</td>
            </tr>
            <tr>
                <th scope="row">Engineer</th>
                <td>{{ data.Engineer }}</td>
            </tr>
            <tr>
                <th scope="row">Date</th>
                <td>{{ data.Date }}</td>
            </tr>
            <tr>
                <th scope="row">Time</th>
                <td>{{ data.Time }}</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div style="height: auto; width: 50%; float: left; padding-left: 5px;">
        <table class="table table-bordered">
            <tbody>
            <tr>
                <th scope="row">On Error (Default)</th>
                {% for key, value in data.default_onError.items %}
                    {% if key == "@action" %}
                        <td>{{ value }}</td>
                    {% endif %}
                {% endfor %}
            </tr>
            <tr>
                <th scope="row">Go To Step (If Applicable)</th>
                {% for key, value in data.default_onError.items %}
                    {% if key == "@goto" %}
                        <td>{{ value }}</td>
                    {% endif %}
                {% endfor %}
            </tr>
            <tr>
                <th scope="row">Input Data File</th>
                <td>{{ data.InputDataFile }}</td>
            </tr>
            <tr>
                <th scope="row">Data Type</th>
                <td>{{ data.Datatype }}</td>
            </tr>
            <tr>
                <th scope="row">Logs Directory</th>
                <td>{{ data.Logsdir }}</td>
            </tr>
            <tr>
                <th scope="row">Results Directory</th>
                <td>{{ data.Resultsdir }}</td>
            </tr>
            <tr>
                <th scope="row">Expected Results</th>
                <td>{{ data.xpectedResults }}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>