<div class="cases-intentional-space">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3">
                <label class="cases-label">Name</label>
            </div>
            <div class="col-sm-9">
                <input value="{{ data.Name }}">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <label class="cases-label">Title</label>
            </div>
            <div class="col-sm-9">
                <input value="{{ data.Title }}">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <label class="cases-label">Category</label>
            </div>
            <div class="col-sm-9">
                <input value="{{ data.Category }}">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <label class="cases-label">State</label>
            </div>
            <div class="col-sm-9">
                <select></select>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <label class="cases-label">Engineer</label>
            </div>
            <div class="col-sm-9">
                <input value="{{ data.Engineer }}">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <label class="cases-label">Date</label>
            </div>
            <div class="col-sm-9">
                <input disabled value="{{ data.Date }}">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <label class="cases-label">Time</label>
            </div>
            <div class="col-sm-9">
                <input disabled value="{{ data.Time }}">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <label class="cases-label">On Error (Default)</label>
            </div>
            <div class="col-sm-9">
                <select></select>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <label class="cases-label">Go To Step</label>
            </div>
            <div class="col-sm-9">
                <input>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <label class="cases-label">Input Data File</label>
            </div>
            <div class="col-sm-9">
                <input value="{{ data.InputDataFile }}">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <label class="cases-label">Data Type</label>
            </div>
            <div class="col-sm-9">
                <select></select>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <label class="cases-label">Logs Directory</label>
            </div>
            <div class="col-sm-9">
                <input value="{{ data.Logsdir }}">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <label class="cases-label">Results Directory</label>
            </div>
            <div class="col-sm-9">
                <input value="{{ data.Resultsdir }}">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <label class="cases-label">Expected Results</label>
            </div>
            <div class="col-sm-9">
                <input value="{{ data.ExpectedResults }}">
            </div>
        </div>
    </div>
</div>