<div class="cases-intentional-space">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3">
                <label class="cases-label">Name</label>
            </div>
            <div class="col-sm-9">
                <input key="Name" value="{{ data.Name }}" katana-change="cases.drawer.detailsChange">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <label class="cases-label">Title</label>
            </div>
            <div class="col-sm-9">
                <input key="Title" value="{{ data.Title }}" katana-change="cases.drawer.detailsChange">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <label class="cases-label">Category</label>
            </div>
            <div class="col-sm-9">
                <input key="Category" value="{{ data.Category }}" katana-change="cases.drawer.detailsChange">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <label class="cases-label">State</label>
            </div>
            <div class="col-sm-9">
                <input key="State" list="states" value="{{data.State}}" katana-change="cases.drawer.detailsChange">
                <datalist id="states" katana-change="cases.drawer.detailsChange">
                    {% for value in data.states %}
                    <option value="{{value}}"></option>
                    {% endfor %}
                </datalist>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <label class="cases-label">Engineer</label>
            </div>
            <div class="col-sm-9">
                <input key="Engineer" value="{{ data.Engineer }}" katana-change="cases.drawer.detailsChange">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <label class="cases-label">Date</label>
            </div>
            <div class="col-sm-9">
                <input key="Date" disabled value="{{ data.Date }}">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <label class="cases-label">Time</label>
            </div>
            <div class="col-sm-9">
                <input key="Time" disabled value="{{ data.Time }}">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <label class="cases-label">On Error (Default)</label>
            </div>
            <div class="col-sm-9">
                <select key="default_onError[@action]" katana-change="cases.drawer.detailsChange">
                    {% for value in data.default_on_errors %}
                    <option>{{value}}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <label class="cases-label">Go To Step</label>
            </div>
            <div class="col-sm-9">
                <input key="default_onError[@goto]" katana-change="cases.drawer.detailsChange">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <label class="cases-label">Input Data File</label>
            </div>
            <div class="col-sm-9">
                <div class="cases-input-div">
                    <input key="InputDataFile" value="{{ data.InputDataFile }}" katana-change="cases.drawer.detailsChange">
                </div>
                <div class="cases-icon-input-div">
                    <i class="fa fa-folder-open" aria-hidden="true" katana-click="cases.drawer.openFileExplorer.inputdatafile"></i>
                    &nbsp;
                    <i class="fa fa-external-link-square" aria-hidden="true" katana-click="cases.drawer.openDatafile"></i>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <label class="cases-label">Data Type</label>
            </div>
            <div class="col-sm-9">
                <select key="Datatype" katana-change="cases.drawer.detailsChange" value="{{ data.Datatype }}">
                    {% for value in data.datatypes %}
                    <option>{{value}}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <label class="cases-label">Logs Directory</label>
            </div>
            <div class="col-sm-9">
                <div class="cases-input-div">
                    <input key="Logsdir" value="{{ data.Logsdir }}" katana-change="cases.drawer.detailsChange">
                </div>
                <div class="cases-icon-input-div">
                    <i class="fa fa-folder-open" aria-hidden="true" katana-click="cases.drawer.openFileExplorer.logsdir"></i>
                    &nbsp;
                    <i class="fa fa-external-link-square cases-hidden-element" aria-hidden="true"></i>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <label class="cases-label">Results Directory</label>
            </div>
            <div class="col-sm-9">
                <div class="cases-input-div">
                    <input key="Resultsdir" value="{{ data.Resultsdir }}" katana-change="cases.drawer.detailsChange">
                </div>
                <div class="cases-icon-input-div">
                    <i class="fa fa-folder-open" aria-hidden="true" katana-click="cases.drawer.openFileExplorer.resultsdir"></i>
                    &nbsp;
                    <i class="fa fa-external-link-square cases-hidden-element" aria-hidden="true"></i>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <label class="cases-label">Expected Results</label>
            </div>
            <div class="col-sm-9">
                <input key="ExpectedResults" value="{{ data.ExpectedResults }}" katana-change="cases.drawer.detailsChange">
            </div>
        </div>
    </div>
</div>