<body>
<div>
    <div class="cases-left-block">
        <div class="cases-header">
            <h4 class="cases-header-title">Details</h4>
        </div>
        <div class="cases-left-top-block" id="detail-block">
        </div>
        <div class="cases-header">
            <h4 class="cases-header-title">Requirements</h4>
        </div>
        <div class="cases-left-bottom-block" id="req-block">

        </div>
    </div>
    <div class="cases-right-block">
        <div class="cases-header">
            <h4 class="cases-header-title">Steps</h4>
        </div>
        <div class="cases-right-step-block" id="step-block">

        </div>
    </div>
</div>
</body>
