<div class="cases-intentional-space-x">
    <div style="height: auto; width: 50%; float: left; padding-right: 5px ">
        <table class="table table-bordered">
            <tbody>
            <tr>
                <th scope="row">1</th>
                <td style=""></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div style="height: auto; width: 50%; float: left; padding-left: 5px;">
        <table class="table table-bordered">
            <tbody>
            <tr>
                <th scope="row">2</th>
                <td style=""></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>