<div class="cases-intentional-space-x">
    <div class="cases-internal-space">
        <table class="table table-bordered">
            <tbody>
            {% for req in data.Requirement %}
            {% if forloop.counter <= mid_req %}
            <tr>
                <th scope="row" req-number="{{ forloop.counter }}">{{ forloop.counter }}</th>
                <td>{{ req }}</td>
            </tr>
            {% endif %}
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="cases-internal-space">
        <table class="table table-bordered">
            <tbody>
            {% for req in data.Requirement %}
            {% if forloop.counter > mid_req %}
            <tr>
                <th scope="row" req-number="{{ forloop.counter }}">{{ forloop.counter }}</th>
                <td>{{ req }}</td>
            </tr>
            {% endif %}
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>