<div class="cases-intentional-space">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3">
                <label class="cases-label">Step Number</label>
            </div>
            <div class="col-sm-9">
                {% for key, value in data.step.items %}
                {% if key == "@TS" %}
                <input disabled value="{{ value }}" key="@TS">
                {% endif %}
                {% endfor %}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <label class="cases-label">Driver</label>
            </div>
            <div class="col-sm-9">
                <select katana-change="cases.drawer.stepsChange" key="@Driver"></select>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <label class="cases-label">Keyword</label>
            </div>
            <div class="col-sm-9">
                <select katana-change="cases.drawer.stepsChange" key="@Keyword"></select>
            </div>
        </div>
         <div class="row">
            <div class="col-sm-3">
                <label class="cases-label">Arguments</label>
            </div>
            <div class="col-sm-9">
                <input katana-change="cases.drawer.stepsChange">
            </div>
        </div>
         <div class="row">
            <div class="col-sm-3">
                <label class="cases-label">Description</label>
            </div>
            <div class="col-sm-9">
                <input katana-change="cases.drawer.stepsChange" value="{{data.step.Description}}" key="Description">
            </div>
        </div>
         <div class="row">
            <div class="col-sm-3">
                <label class="cases-label">Execute</label>
            </div>
            <div class="col-sm-9">
                {% for key, value in data.step.Execute.items %}
                {% if key == "@ExecType" %}
                <select katana-change="cases.drawer.stepsChange" value="{{value}}" key="Execute[@ExecType]">
                    {% for value in data.execute_types %}
                    <option>{{value}}</option>
                    {% endfor %}
                </select>
                {% endif %}
                {% endfor %}
            </div>
        </div>
        {% for key, value in data.step.Execute.Rule.items %}
        {% if key == "@Condition" %}
         <div class="row">
            <div class="col-sm-3">
                <label class="cases-label">Condition</label>
            </div>
            <div class="col-sm-9">
                <input katana-change="cases.drawer.stepsChange" value="{{value}}" key="Execute[Rule[@Condition]]">
            </div>
        </div>
        {% endif %}
        {% if key == "@Condvalue" %}
         <div class="row">
            <div class="col-sm-3 cases-label-text">
                <label class="cases-label">Condition Value</label>
            </div>
            <div class="col-sm-9">
                <input katana-change="cases.drawer.stepsChange" value="{{value}}" key="Execute[Rule[@Condvalue]]">
            </div>
        </div>
        {% endif %}
        {% if key == "@Else" %}
         <div class="row">
            <div class="col-sm-3">
                <label class="cases-label">Else</label>
            </div>
            <div class="col-sm-9">
                <select katana-change="cases.drawer.stepsChange" value="{{value}}" key="Execute[Rule[@Else]]">
                    {% for value in data.execute_elses %}
                    <option>{{value}}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        {% endif %}
        {% if key == "@Elsevalue" %}
         <div class="row">
            <div class="col-sm-3">
                <label class="cases-label">Else Value</label>
            </div>
            <div class="col-sm-9">
                <input katana-change="cases.drawer.stepsChange" value="{{value}}" key="Execute[Rule[@Elsevalue]]">
            </div>
        </div>
        {% endif %}
        {% endfor %}
        {% for key, val in data.step.runmode.items %}
        {% if key == "@type" %}
         <div class="row">
            <div class="col-sm-3">
                <label class="cases-label">Run Mode</label>
            </div>
            <div class="col-sm-9">
                <select katana-change="cases.drawer.stepsChange" value="{{val}}" key="runmode[@type]">
                    {% for value in data.run_modes %}
                    <option>{{value}}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        {% endif %}
        {% endfor %}
        {% for key, value in data.step.runmode.items %}
        {% if key == "@value" %}
         <div class="row">
            <div class="col-sm-3">
                <label class="cases-label">Run Mode Value</label>
            </div>
            <div class="col-sm-9">
                <input katana-change="cases.drawer.stepsChange" value="{{value}}" key="runmode[@value]">
            </div>
        </div>
        {% endif %}
        {% endfor %}
        {% for key, value in data.step.Iteration_type.items %}
        {% if key == "@type" %}
         <div class="row">
            <div class="col-sm-3">
                <label class="cases-label">Iteration Type</label>
            </div>
            <div class="col-sm-9">
                <select katana-change="cases.drawer.stepsChange" value="{{value}}" key="Iteration_type[@type]">
                    {% for value in data.iteration_types %}
                    <option>{{value}}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        {% endif %}
        {% endfor %}
         <div class="row">
            <div class="col-sm-3">
                <label class="cases-label">Context</label>
            </div>
            <div class="col-sm-9">
                <select katana-change="cases.drawer.stepsChange" value="{{data.step.context}}" key="context">
                    {% for value in data.contexts %}
                    <option>{{value}}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
         <div class="row">
            <div class="col-sm-3">
                <label class="cases-label">Impact</label>
            </div>
            <div class="col-sm-9">
                <select katana-change="cases.drawer.stepsChange" value="{{data.step.impact}}" key="impact">
                    {% for value in data.impacts %}
                    <option>{{value}}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        {% for key, val in data.step.onError.items %}
        {% if key == "@action" %}
        <div class="row">
            <div class="col-sm-3">
                <label class="cases-label">On Error</label>
            </div>
            <div class="col-sm-9">
                <select katana-change="cases.drawer.stepsChange" value="{{val}}" key="onError[@action]">
                    {% for value in data.on_errors %}
                    <option>{{value}}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        {% endif %}
        {% endfor %}
        {% for key, value in data.step.onError.items %}
        {% if key == "@goto" %}
         <div class="row">
            <div class="col-sm-3">
                <label class="cases-label">Go To Step</label>
            </div>
            <div class="col-sm-9">
                <input katana-change="cases.drawer.stepsChange" value="{{value}}" key="onError[@goto]">
            </div>
        </div>
        {% endif %}
        {% endfor %}
    </div>
</div>