<div class="cases-intentional-space">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3">
                <label class="cases-label">Step Number</label>
            </div>
            <div class="col-sm-9">
                <input disabled>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <label class="cases-label">Driver</label>
            </div>
            <div class="col-sm-9">
                <select></select>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <label class="cases-label">Keyword</label>
            </div>
            <div class="col-sm-9">
                <select></select>
            </div>
        </div>
         <div class="row">
            <div class="col-sm-3">
                <label class="cases-label">Arguments</label>
            </div>
            <div class="col-sm-9">
                <input>
            </div>
        </div>
         <div class="row">
            <div class="col-sm-3">
                <label class="cases-label">Description</label>
            </div>
            <div class="col-sm-9">
                <input>
            </div>
        </div>
         <div class="row">
            <div class="col-sm-3">
                <label class="cases-label">Execute</label>
            </div>
            <div class="col-sm-9">
                <select></select>
            </div>
        </div>
         <div class="row">
            <div class="col-sm-3">
                <label class="cases-label">Condition</label>
            </div>
            <div class="col-sm-9">
                <input>
            </div>
        </div>
         <div class="row">
            <div class="col-sm-3 cases-label-text">
                <label class="cases-label">Condition Value</label>
            </div>
            <div class="col-sm-9">
                <input>
            </div>
        </div>
         <div class="row">
            <div class="col-sm-3">
                <label class="cases-label">Else</label>
            </div>
            <div class="col-sm-9">
                <select></select>
            </div>
        </div>
         <div class="row">
            <div class="col-sm-3">
                <label class="cases-label">Else Value</label>
            </div>
            <div class="col-sm-9">
                <input>
            </div>
        </div>
         <div class="row">
            <div class="col-sm-3">
                <label class="cases-label">Run Mode</label>
            </div>
            <div class="col-sm-9">
                <select></select>
            </div>
        </div>
         <div class="row">
            <div class="col-sm-3">
                <label class="cases-label">Run Mode Value</label>
            </div>
            <div class="col-sm-9">
                <input>
            </div>
        </div>
         <div class="row">
            <div class="col-sm-3">
                <label class="cases-label">Iteration Type</label>
            </div>
            <div class="col-sm-9">
                <select></select>
            </div>
        </div>
         <div class="row">
            <div class="col-sm-3">
                <label class="cases-label">Context</label>
            </div>
            <div class="col-sm-9">
                <select></select>
            </div>
        </div>
         <div class="row">
            <div class="col-sm-3">
                <label class="cases-label">Impact</label>
            </div>
            <div class="col-sm-9">
                <select></select>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <label class="cases-label">On Error</label>
            </div>
            <div class="col-sm-9">
                <select></select>
            </div>
        </div>
         <div class="row">
            <div class="col-sm-3">
                <label class="cases-label">Go To Step</label>
            </div>
            <div class="col-sm-9">
                <input>
            </div>
        </div>
    </div>
</div>