<div class="cases-intentional-space-x">
    <table class="table table-bordered">
        <thead>
        <tr>
            <th scope="col">Step #</th>
            <th scope="col">Driver</th>
            <th scope="col">Keyword</th>
            <th scope="col">Description</th>
            <th scope="col">Execute</th>
            <th scope="col">Run Mode</th>
            <th scope="col">Iteration Type</th>
            <th scope="col">Context</th>
            <th scope="col">Impact</th>
            <th scope="col">On Error</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        </tbody>
    </table>
</div>