{% load static %}
{% load jsonify %}

<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<link rel="stylesheet" href="{% static './jquery-ui-1.12.1.custom/jquery-ui.css' %}">
<script type="text/javascript" src="{% static "./badgerfish.js" %}"></script>
<script type="text/javascript" src="{% static "./json.js" %}"></script>
<script type="text/javascript" src="{% static "./xmlparser.js" %}"></script>
<script type="text/javascript" src="{% static "./doProjectHandling.js" %}"></script>


	{{title}}
	Editing:{{ myfile }}<p>
	Using: {{ docSpec }}

	<h2>Details</h2>
	<div class="form-group">
			<div class="row">
				<label for="projectName">Name*:</label>
				<input type="text" id="projectName" name="projectName" value="{{projectName}}"/>
				<label for="projectTitle">Title*:</label>
				<input  type="text" id="projectTitle" name="projectTitle" value="{{projectTitle}}" />
			</div>
			<div class="row">
				<label class="col-md-2 text-right" for="projectEngineer">Engineer*:</label>
				<input class="col-md-4 text-right" type="text" id="projectEngineer" name="projectEngineer" value="{{projectEngineer}}" />
				
				<label class="col-md-2 text-right" for="projectDate">Last Updated:</label>
				<input class="col-md-4 text-right" type="text" id="projectDate" name="projectDate" value="{{projectDate}}" />
			</div>
			<div class="row">
				<label class="col-md-2 text-right" for="defaultOnError">defaultOnError:</label>
				<input class="col-md-4 text-right" type="text" id="defaultOnError" name="defaultOnError" value="{{projectdefaultOnError}}"/>
				<label class="col-md-2 text-right" for="projectDatatype">Data Type:</label>
				<select class="col-md-4 text-right" type="text" id="projectDatatype" name="projectDatatype" value="{{projectDatatype}}" >
					<option value="Custom">Custom</option>
					<option value="Hybrid">Hybrid</option>
					<option value="Iterative">Iterative</option>
				</select>
			</div>
	</div>

	<div>
		<h2>TestSuites</h2>
	</div>
	<div class="col-md-12" id="listOfTestSuitesForProject"></div>

	<div class="container">
	    <div id="editor" class="col-md-12" >  </div>    
	    <div class="btn-group col-md-8" role="group">   
	    	{% csrf_token %}
			<button id="addSuite" class="btn btn-primary" onclick="addSuiteToProject()">Add</button>
			<button class="btn btn-primary" onclick="start()">Refresh</button>
			<button class="btn btn-primary" onclick="openAllSuites()">Show All</button>
			<button class="btn btn-success" onclick="mapUiToProjectJson()">Save</button>
		</div>

		<div>
		<input class="col-md-12 text-right" type="text" id="my_file_to_save" name="my_file_to_save" value="{{myfile}}"/>
		</div>			
	</div>


<script type="text/javascript">
function start() {
	jsonProjectObject =   {{fulljson|jsonify}};
	mapFullProjectJson(jsonProjectObject);
};

start();
</script>