{% load static %}
<link rel="stylesheet" href="{% static 'projects/css/projects.css' %}">
<link rel="stylesheet" href="{% static 'projects/css/project-d3.css' %}">

<script src="https://d3js.org/d3.v3.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3-cloud/1.2.4/d3.layout.cloud.js"></script>
<div id="myProject" auto-init="projects.initProjectTree"> </div>

<div id="OverwriteProjectHere">
<div class="csrf-container">{% csrf_token %}</div>
<div class="tool-bar">
<label  class="projects-header-label">Projects</label>
<label  class="projects-header-ilabel">Search</label>

		 <input id="jstreeFilterText" class="col-md-2" />
			<button  class="button" katana-click="projects.startNewProject">Add New Project</button>
		

</div>
	
<div class="row">
	<div class="col-md-4" id="myProjectTree"></div>
	
</div>
	
</div>
