{% load staticfiles %} 
<!-- <link rel="stylesheet" href="{% static 'wsedit/css/wsedit.css' %}">

<script src="{% static 'wsedit/js/CodeMirror/lib/codemirror-compressed.js' %}"></script>

 -->   
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.31.0/codemirror.js" />
<link rel="stylesheet" href="{% static  'wsedit/js/CodeMirror/lib/codemirror.css' %} ">
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.31.0/mode/python/python.js"></script>
  
  <div class="tool-bar">
       <i katana-click="wsedit.openFileFromServer" class="fa fa-edit">Edit Python File</i>
 <input class="text col-md-6" id="wsedit-filename" value="filename"></input>
	    <i  katana-click="wsedit.saveFileToServer" class="fa fa-floppy-o" >Write File </i> 
	    <label  id='wsedit-saveme-btn'></label>
    </div>

   	 <div class="csrf-container">{% csrf_token %}</div>

	<div id="wsedit-savesubdir" class="hidden">{{savesubdir}}</div>
    <div class="col-md-12" min-height="100%">
	<textarea id='wsedit-scrollable-source-text' > </textarea> 	
   	</div>
   	<label id="wsedit-pythonsrcdir" class="hidden">{{pythonsrcdir}}</label>
        
</div>
  