{% load staticfiles %} 
<!-- <link rel="stylesheet" href="{% static 'wsedit/css/wsedit.css' %}">

<script src="{% static 'wsedit/js/CodeMirror/lib/codemirror-compressed.js' %}"></script>

 -->   
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.31.0/codemirror.js" />
<link rel="stylesheet" href="{% static  'wsedit/js/CodeMirror/lib/codemirror.css' %} ">
<script  src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.31.0/addon/hint/xml-hint.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.31.0/mode/xml/xml.min.js"></script>
  
  <div class="tool-bar">
       <i class="button" katana-click="wsedit.openFileFromServer">Edit File</i>
	    <i class="button" katana-click="wsedit.saveFileToServer">Write Changes To Disk</i>
		  
        
    </div>

   	   <div class="csrf-container">{% csrf_token %}</div>
		<input class="text" id="wsedit-filename" value="filename">

			<div id="savesubdir" class="hidden">{{savesubdir}}</div>
            <div class="col-md-12" min-height="100%">
			 	<textarea id='wsedit-scrollable-source-text' height="100%" width="100%"> Source file</textarea> 
			
   			</div>
   			<label id="pythonsrcdir" class="hidden">{{pythonsrcdir}}</label>
        
</div>
  