<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
      <title>{{ title }}</title>
   <!-- Bootstrap core CSS locally 
    <link href="{% static  'css/bootstrap.min.css' %}"rel="stylesheet">

    <link href="{% static css/font-awesome.min.css %)" rel="stylesheet" type="text/css">
    
<script type="text/javascript" src="{% static "./jquery-3.2.1.js" %}"></script>
-->

<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

<script type="text/javascript" src="{% static "./vendor/tether/tether.min.js" %}"></script>
<script type="text/javascript" src="{% static "./vendor/popper/popper.min.js" %}"></script>

<script type="text/javascript" src="{% static "./badgerfish.js" %}"></script>
<script type="text/javascript" src="{% static "./json.js" %}"></script>
<script type="text/javascript" src="{% static "./xmlparser.js" %}"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.4/build/jquery.datetimepicker.full.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>

<script type="text/javascript" src="{% static "./xonomy/xonomy.js" %}"></script>
<link type="text/css" rel="stylesheet" href="{% static "./xonomy/xonomy.css" %}"/>
<!-- <link type="text/css" rel="stylesheet" href="{% static "./css/modern-business.css" %}"/> -->
<link type="text/css" rel="stylesheet" href="{% static "./css/simple-sidebar.css" %}"/>
<script type="text/javascript" src="{% static "./doRequirements.js" %}"></script>
<script type="text/javascript" src="{% static "./doCaseHandling.js" %}"></script>
<script type="text/javascript" src="{% static "./doSuiteHandling.js" %}"></script>
<script type="text/javascript" src="{% static "./doProjectHandling.js" %}"></script>

<script type="text/javascript" src="{% static "./testCase_docSpec.js" %}"></script>
<script type="text/javascript" src="{% static "./testProject_docSpec.js" %}"></script>
<script type="text/javascript" src="{% static "./testSuite_docSpec.js" %}"></script>

{% csrf_token %}
<script type="text/javascript">
// using jQuery
var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();
</script>

    <!-- Custom styles for this template 
    <link href="{% static "./css/modern-business.css" %}" rel="stylesheet">
    -->
    <!-- Temporary navbar container fix -->
    <style>
    .navbar-toggler {
        z-index: 1;
    }
    
    @media (max-width: 576px) {
        nav > .container {
            width: 100%;
        }
    }
    </style>

</head>

<body onload="start()">

<!-- Sidebar -->
<div id="wrapper">
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#">
                        Warrior Commands
                    </a>
                </li>
                <li>
                    <a href="#">Dashboard</a>
                </li>
                <li>
                    <a target="_blank" href="listAllCases">Cases</a>
                </li>
                <li>
                    <a target="_blank" href="listAllSuites">Suites</a>
                </li>
                <li>
                    <a target="_blank" href="listAllProjects">Projects</a>
                </li>
                <li>
                    <a href="#">About</a>
                </li>
                <li>
                    <a href="#">Services</a>
                </li>
                <li>
                    <a href="#">Contact</a>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->


    <!-- Navigation -->

    <!-- Page Content -->
    <div class="container">
        <div id="page-content-wrapper">
            <div class="container-fluid">

        <!-- Team Members -->
        <a href="#menu-toggle" class="btn btn-secondary" id="menu-toggle">Toggle Menu</a>
        {% block content %}
        <h2>Warrior</h2>
        {% endblock %}
        <!-- /.row -->
    </div>
    </div>
    </div>
    <!-- /.container -->

    </div>
    <!-- /#wrapper -->
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });

    </script>
    <!-- Footer -->

    <!-- Bootstrap core JavaScript -->


</body>

</html>
