{% extends "./baseListFile.html" %}
{% load jsonify %}
{% block content %}
	 {{title}}
Editing:{{ myfile }}
Using: {{ docSpec }}

<h2>Details</h2>
<div class="form-group">
		<div class="row">
			<label class="col-md-2 text-right" for="projectName">Name*:</label>
			<input class="col-md-4 text-right" type="text" id="projectName" name="projectName" value="{{projectName}}"/>
			<label class="col-md-2 text-right" for="projectTitle">Title*:</label>
			<input class="col-md-4 text-right" type="text" id="projectTitle" name="projectTitle" value="{{projectTitle}}" />
		</div>
		<div class="row">
			<label class="col-md-2 text-right" for="projectEngineer">Engineer*:</label>
			<input class="col-md-4 text-right" type="text" id="projectEngineer" name="projectEngineer" value="{{projectEngineer}}" />
			
			<label class="col-md-2 text-right" for="projectDate">Last Updated:</label>
			<input class="col-md-4 text-right" type="text" id="projectDate" name="projectDate" value="{{projectDate}}" />
		</div>
		<div class="row">
			<label class="col-md-2 text-right" for="defaultOnError">defaultOnError:</label>
			<input class="col-md-4 text-right" type="text" id="defaultOnError" name="defaultOnError" value="{{projectdefaultOnError}}"/>
			<label class="col-md-2 text-right" for="projectDatatype">Data Type:</label>
			<select class="col-md-4 text-right" type="text" id="projectDatatype" name="projectDatatype" value="{{projectDatatype}}" >
				<option value="Custom">Custom</option>
				<option value="Hybrid">Hybrid</option>
				<option value="Iterative">Iterative</option>
			</select>
		</div>

</div>

<div>
	<h2>TestSuites</h2>
	
</div>
<div class="col-md-12" id="listOfTestSuitesForProject"></div>

<div class="container">
    <div id="editor" class="col-md-12" >  </div>    
    <div class="btn-group col-md-8" role="group">   
    	{% csrf_token %}
		<button id="addSuite" class="btn btn-secondary" onclick="addSuiteToProject()">Add</button>
		<button class="btn btn-secondary" onclick="start()">Refresh</button>
		<button class="btn btn-secondary" onclick="openAllSuites()">Show All</button>
		<button class="btn btn-secondary" onclick="mapUiToProjectJson()">Save</button>
	</div>

</div>

<script type="text/javascript">
function start() {
	/*

	The following will NOT work with django templates. 


	var Connect = new XMLHttpRequest();
	Connect.open("GET", "http://localhost:8000/projects/getXMLfile/?fname={{ myfile }}", false);
	Connect.setRequestHeader("Content-Type", "text/xml");
	Connect.send(null);
	var xml = Connect.responseXML;// Place the response in an XML document.
	 
	var xdocSpec = {{ docSpec }};
	*/

	//var editor=document.getElementById("editor");
	//Xonomy.setMode('laic')
	//Xonomy.render(xml, editor, xdocSpec);

	jsonProjectObject =   {{fulljson|jsonify}};
	mapFullProjectJson(jsonProjectObject);
}
</script>
{% endblock %}
