.cli-data-left-column{
    float: left;
    width: 50%;
    height: 100%;
    overflow-y: scroll;
}

.cli-data-right-column{
    float: right;
    width: 50%;
    height: 100%;
    padding: 1rem;
    background-color: grey;
    overflow-y: scroll;
}

.cli-data-left-column-topbar{
    width: 100%;
    height: 70px;
    background-color: #e4e5e4;
    top:0;
    left:0;
    padding: 0.8rem;
}

.cli-data-left-column-topbar-header{
    width:75%;
    float: left;
}

.cli-data-left-column-topbar-header-top{
    width: 100%;
    height: 40%
}

.cli-data-left-column-topbar-header-bottom{
    width: 100%;
    height: 60%
}

.cli-data-left-column-icons{
    width: 25%;
    float: left;
    padding-top:0.8rem;
}

.cli-data-right-column-topbar{
    width: 100%;
    height: 70px;
    background-color: #e4e5e4;
    top:0;
    left:0;
    padding: 0.8rem;
}

.cli-data-full-width{
    width: 100%;
}

.cli-data-right-column-topbar-header{
    width:95%;
    float: left;
}

.cli-data-right-column-topbar-header-top{
    width: 100%;
    height: 40%
}

.cli-data-right-column-topbar-header-bottom{
    width: 100%;
    height: 60%
}

.cli-data-right-column-icons{
    width: 5%;
    float: left;
    padding-top:0.8rem;
}

.cli-data-left-content{
    background-color: white;
    padding: 1rem;
}

.cli-data-right-content{
    background-color: white;
    padding: 1rem;
}

.cli-data-left-content-label{
    padding: 1.2rem;
    border-bottom: 1px solid #e4e5e4;
    border-right: 1px solid #e4e5e4;
}

.cli-data-left-content-value{
    padding: 0.5rem;
    border-bottom:1px solid #e4e5e4;
}

.cli-data-left-content-value-input{
    border: none;
    font-size: 16px;
    background-color: white;
}

.cli-data-left-content-label-last{
    padding: 1.2rem;
    border-right: 1px solid #e4e5e4;
}

.cli-data-left-content-value-last{
    padding: 0.5rem;
}

.cli-data-right-content-label{
    padding: 1rem;
    border-bottom: 1px solid #e4e5e4;
    border-right: 1px solid #e4e5e4;
}

.cli-data-right-content-value{
    padding: 1rem;
    border-bottom:1px solid #e4e5e4;
}

.cli-data-right-content-label-last{
    padding: 1rem;
    border-right: 1px solid #e4e5e4;
}

.cli-data-right-content-value-last{
    padding: 1rem;
}

div.cli-data-left-content > div.row:last-child > div {
    border-bottom: none; !important;
}
