
.suite_configuration_table {}
.suite_configuration_table th{
    height: 35px;
    line-height: 35px;
    text-align: left; 
    vertical-align: top;
    font-weight: 400;
    color: #FFF;
    background-color: #577BA0;
}

.suite_configuration_table td {
  text-align: left;
  overflow: hidden;
}
.suite_configuration_table i{
    padding: 4px;
    font-size: 16px;
}

.popup {
    background: #fff;
}


.suite_configuration_table tr th:nth-child(1), .suite_configuration_table tr td:nth-child(1) {
    flex-grow: .3;

}
.suite_configuration_table tr th:nth-child(2), .suite_configuration_table tr td:nth-child(2) {
    flex-grow: .3;
}

.suite_configuration_table tr th:nth-child(3), .suite_configuration_table tr td:nth-child(3) {
    flex-grow: 2;
}

.suite_configuration_table tr th:nth-child(4), .suite_configuration_table tr td:nth-child(4) {
    flex-grow: 1;
}

.suite_configuration_table tr th:last-child, .suite_configuration_table tr td:last-child {
    flex-grow: .5;
    font-size: 18px;
}

.suite_configuration_table tr:nth-child(even){background-color: #f2f2ff}


.suite_req_configuration_table {}
.suite_req_configuration_table th{
    height: 35px;
    line-height: 35px;
    text-align: left; 
    vertical-align: top;
    font-weight: 400;
    color: #FFF;
    background-color: #577BA0;
}

.suite_req_configuration_table td {
  text-align: left;
  overflow: hidden;
}
.suite_req_configuration_table i{
    padding: 4px;
    font-size: 16px;
}


.suite_req_configuration_table tr th:nth-child(1), .suite_configuration_table tr td:nth-child(1) {
    flex-grow: .3;

}
.suite_req_configuration_table tr th:last-child, .suite_configuration_table tr td:last-child {
    flex-grow: .5;
    font-size: 18px;
}