<body>
  <div class="csrf-container">{% csrf_token %} </div>
  <div class="tool-bar"></div>

<div class="page-content-inner">
    <div class="execution panel-container" auto-init="execution.layoutViewer.loadWs">
        <div class="execution layout-panel">
            <div class="execution panels-heading">
                <button type="button" name="execution-execute-btn" id="execution-execute-btn" class="execution btn" katana-click="execution.add_selected">
                    <i class="fa fa-hand-o-right"></i>
                </button>
                <button type="button" name="execution_load_layout_btn" id="execution_load_layout_btn" class="execution btn" katana-click="execution.layoutViewer.loadWs" >
                      <i class="fa fa-refresh"></i>
                </button>
                <label>Layouts</label>
            </div>

            <div id="execution_layout_container"  data-startdir="{{defaults.start_dir}}" >
            </div>

        </div>


        <div class="execution panel-splitter"></div>


        <div class="execution selections-panel" id="execution-selections-panel">
            <div class="execution panels-heading" id="execution-selections-panel-heading">
              <button type="button" name="execution-execute-btn" id="execution-execute-btn" class="execution btn" >
                    <i class="fa fa-navicon"></i>
              </button>
                <button type="button" name="execution-execute-btn" id="execution-execute-btn" class="execution btn" katana-click="execution.resultsViewer.openExecution">
                      <i class="fa fa-play"></i>
                </button>
                <label>Selections</label>
            </div>
            <ul id="execution_items" class="execution selection-group-item" auto-init="execution.createSelectionsSort"></ul>
        </div>
    </div>
</div>

</div>
</body>
