/* wdf editor app related styles starts */

.wdf-button {
    position: absolute;
    top: 10%;
}

.wdf-wide-button {
    display: block;
    width: 100% !important;
    max-width: 100% !important;
    text-align: left;
    background-color: #f9f9f9;
    border: none;
}

.wdf-sys-nav {
    padding-top: 3px;
}

.wdf-subsys-nav {
    padding-top: 3px;
    padding-left: 25px;
}

hr.wdf-hr {
    display: block;
}

.wdf-container {
    padding: 1%;
}

.wdf-scroll {
    overflow: auto;
    height: 83vh;
}

.wdf-lg-col {
    width: 57%;
    float: left;
}

.wdf-lg-col>.btn {
    padding: 8px;
}

.wdf-sm-col {
    width: 35%;
    float: left;
}

.wdf-indent {
    width: calc(100% - 214px) !important;
    margin-left: 214px !important;
    background: #cccccc !important;
}

.sub-tool-bar .button {
    margin-top: 4px;
}

.side-navigator {
    position: relative;
    position: sticky;
    top: 4px;
    right: 0;
    height: 100%;
    background: #dcdcdc;
    -ms-flex: 0 0 25%;
    /* flex: 0 0 20%; */
    /* max-width: 20%; */
    flex: none;
    max-width: none;
    width: 300px;
    margin-left: 30px;
    margin-top: 15px;
    -webkit-box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.22);
    -moz-box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.22);
    box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.22);
    transition: all .1s ease;
    padding: 18px;
    background-color: #f9f9f9;
}

.side-navigator .to-scroll {
    padding: 5px 28px;
}

div#wdf-editor-col {
    flex: none;
    max-width: none;
    width: calc(100% - 360px);
    height: auto;
    overflow: visible;
    background: white;
    margin-top: 15px;
    padding: 0;
    margin-left: 15px;
    /* -webkit-box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.22); */
    -moz-box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.22);
    /* box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.22); */
    transition: all .1s ease;
}

#wdf-navigator {
    padding-left: 5px;
    padding-right: 5px;
}

div#wdf-navigator .btn:hover {
    background: #eaeaea;
}

.wdf-container {
    padding: 0;
}

.wdf-pad {
    padding: 0;
}

.wdf-container .row {
    margin-left: 0;
    margin-right: 0;
}

.wdf-pad .fa {
    color: #4ea4e0;
    font-size: 20px;
}

@-webkit-keyframes wdf-highlight {
    from {
        background-color: #ecff91;
    }
    to {
        background-color: inherit;
    }
}

@keyframes wdf-highlight {
    from {
        background-color: #ecff91;
    }
    to {
        background-color: inherit;
    }
}

.wdf-highlight {
    -webkit-animation: -webkit-wdf-highlight 1s ease;
    animation: wdf-highlight 1s ease;
}

.wdf-warning {
    background: #ecff91;
    background-color: #ecff91;
}

.wdf-tall-label {
    padding-bottom: 5px;
}

.wdf-span {
    padding-left: 5px;
}

.wdf-label {
    border: 0px !important;
}

.control-box {
    padding: 10px;
    margin-bottom: 12px;
    -webkit-box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.22);
    -moz-box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.22);
    box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.22);
    padding-top: 45px;
    position: relative;
}

.sub-tool-bar>.field {
    width: 40px;
    overflow: hidden;
    margin: 0;
    position: absolute;
    left: 7px;
    top: 3px;
    text-align: -webkit-left;
    font-size: 0;
}

.sub-tool-bar>.field.title-block {
    left: 45px;
    top: 0;
    width: calc(100% - 200px);
    margin: 0;
    /* padding: 0; */
    overflow: hidden;
    position: absolute;
    display: block;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: none;
    color: white;
}

.sub-tool-bar>.field.title-block>input,
.sub-tool-bar>.field.title-block>input::placeholder {
    background: transparent;
    color: white;
    font-size: 20px;
}

.sub-tool-bar input[type="checkbox"]+label:before {
    border-color: white;
}

.control-box:empty {
    display: none;
}

/* wdf editor app related styles ends */