<body>
    <div style="padding: 2rem; width: 100%;">
        <div style="padding: 1rem;">
            <h4>Dependencies</h4>
        </div>
        <div class="row" id="dependency-div">

        </div>
    </div>

    <div style="padding: 2rem; width: 100%;">
        <div style="padding: 1rem;">
            <h4>Tools</h4>
        </div>
        <div class="row" id="tools-div">

        </div>
    </div>

    <div style="padding: 2rem; width: 100%;">
        <div style="padding: 1rem;">
            <h4>Keyword Repositories</h4>
        </div>
        <div id="kw-div">
            <div class="row" >
                <div class="col" style="padding: 1rem;">
                    <div class="row">
                        <div class="col-sm-2" style="padding: 0.6rem; text-align: right;">
                            <label>URL:&nbsp;</label>
                        </div>
                        <div class="col-sm-6">
                            <input value="here">
                        </div>
                    </div>
                </div>
            </div>
            <br>
        </div>
    </div>

    <div style="padding: 2rem; width: 100%;">
        <div style="padding: 1rem;">
            <h4>Warriorspace Repositories</h4>
        </div>
        <div class="row" id="ws-div">

        </div>
    </div>
</body>