<body>
    <div id="dependency-div" style="padding: 2rem; width: 100%;">
        <div style="padding: 1rem;">
            <h4>Dependencies</h4>
        </div>

        <div style="width: 100%; padding: 1rem;">
            <div class="card" style="padding: 1rem;">
                <div class="card-block">
                    <h4 class="card-title">Jira</h4>
                    <h6 class="card-subtitle mb-2 text-muted">Version: 1.0.3</h6>
                    <button class="btn btn-success">Card link</button>
                    <button class="btn btn-danger">Another link</button>
                </div>
            </div>
        </div>
    </div>

    <div id="tools-div">

    </div>

    <div id="kw-div">

    </div>

    <div id="ws-div">

    </div>
</body>