.cases-left-block {
    height: 100%;
    width: 50%;
    float: left;
    overflow: auto;
}

.cases-right-block {
    height: 100%;
    width: 50%;
    float: left;
    background-color: lightgrey;
    overflow: auto;
}