.cases-left-block {
    height: 100%;
    width: 50%;
    float: left;
}

.cases-left-top-block {
    height: auto;
    width: 100%;
    padding: 2rem;
    float: left;
}

.cases-left-bottom-block {
    height: auto;
    width: 100%;
    padding: 2rem;
    float: left;
}

.cases-right-block {
    height: 100%;
    width: 50%;
    float: left;
}

.cases-right-step-block {
    height: auto;
    width: 100%;
    padding: 2rem;
    float: left;
}

.cases-header {
    height: 60px;
    width: 100%;
    float: left;
    background-color: #3b5f82;
    border-bottom: 2px solid white;
}

.cases-header-title {
    color: white;
    padding: 1rem 1rem;
}

.cases-header > div:first-child {
    width: 90%;
    height: 100%;
    float: left;
    padding: 0 2%;
}

.cases-header > div:nth-child(2) {
    width: 2%;
    height: 100%;
    float: left;
    text-align: center;
    padding: 20px 0;
}

.cases-header > div:nth-child(3) {
    width: 2%;
    height: 100%;
    float: left;
    text-align: center;
    padding: 20px 0;
}

.cases-header > div:nth-child(4) {
    width: 6%;
    height: 100%;
    float: left;
    text-align: center;
    padding: 20px 0;
}

.cases-side-drawer-open {
    height: 100%;
    width: 40%;
    min-width: 600px;
    position: fixed;
    top: 90px;
    right: 0;
    background-color: white;
}

.cases-drawer-open-header {
    height: 60px;
    width: 100%;
    float: left;
    background-color: #3b5f82;
    border-left: 2px solid lightgrey;
}

.cases-drawer-open-header > div:nth-child(1) {
    width: 7%;
    height: 100%;
    float: left;
    text-align: center;
    padding: 20px 0;
}

.cases-drawer-open-header > div:nth-child(2) {
    width: 83%;
    height: 100%;
    float: left;
    padding: 0 2%;
}

.cases-drawer-open-header > div:nth-child(3) {
    width: 5%;
    height: 100%;
    float: left;
    text-align: center;
    padding: 20px 0;
}

.cases-drawer-open-header > div:nth-child(4) {
    width: 5%;
    height: 100%;
    float: left;
    text-align: center;
    padding: 20px 0;
}

.cases-side-drawer-closed {
    height: 100%;
    width: 60px;
    position: fixed;
    top: 90px;
    right: 0;
    background-color: lightgrey;
}

.cases-side-drawer-closed > div {
    width: 100%;
    height: 60px;
    float: left;
    text-align: center;
    padding: 20px 0;
}

.cases-side-drawer-closed > div > i {
    color: black;
}

.cases-drawer-open-body {
    width: 100%;
    height: 100%;
    background-color: white;
}

.cases-drawer-open-body > .sidebar {
    height: 100%;
    width: 60px;
    background-color: lightgrey;
    float: left;
}

.cases-drawer-open-body > .sidebar > div {
    width: 100%;
    height: 60px;
    float: left;
    text-align: center;
    padding: 20px 0;
}

.cases-drawer-open-body > .sidebar > div > i {
    color: black;
}

.cases-icon-bg-color {
    background-color: grey;
}

.cases-drawer-open-body > .content {
    height: 720px;
    width: calc(100% - 60px);
    float: left;
    overflow: auto;
}

.cases-intentional-space {
    padding: 40px 20px;
}

.cases-intentional-space-x {
    padding: 40px calc(6% + 20px) 40px 20px;
}

.cases-label {
    text-align: left;
    padding-top: 8px;
}

.cases-label-text {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.cases-intentional-space > .container-fluid > .row > div > input:not([disabled]) {
    background-color: white !important;
}

.cases-intentional-space > .container-fluid > .row > div > input:disabled {
    cursor: not-allowed;
}

.cases-intentional-space > .container-fluid > .row > div > select {
    margin-top: 4px;
    background-color: white !important;
}

.cases-intentional-space-x > div > table > tbody > tr > th {
    background-color: lightgrey;
    max-width: 33%;
    text-align: left;
}

.cases-intentional-space-x > div > table > tbody > tr > td {
    text-align: left;
    max-width: 67%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}