hr.hr-shadow {
    height: 10px;
	border: 0;
	box-shadow: 0 10px 10px -10px #8c8b8b inset;
}


.button {
    padding: 5px;
    display: inline-block;
    color: black;
    border-radius: 5px;
}

h1 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 24px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px
}


button {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 16px;
	font-style: normal;
	font-variant: normal;
	font-weight: 300;
	line-height: 26.4px

}

html { background-color: #BDEDFF; }
body { margin:20px; background-color: white; padding: 50px; border-radius: 5px; height: 100vh}

span {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 16px;
	font-style: normal;
	font-variant: normal;
	font-weight: 300;
	line-height: 26.4px

}


.margin-class {
    border: 100px;
}
