{% with subsystem|remove_name as subsystem %}
    {% for k, v in subsystem.items %}
        {% if v|is_dict == "true" %}
        <!-- It's a child tag -->
            <div class="child_tags">
                <div class="field-inline dual-input wdf-content">
                    <label>
                        <i katana-click="wdf.addChild" class="fa fa-plus" title="Add Sub Data"/>
                        <i katana-click="wdf.deleteTag" class="fa fa-trash i-danger" title="Delete Data"/>
                    </label>
                    <input class="wdf-input" name="key" katana-change="wdf.validateKey" value="{{ k }}" list="most_used_tags"/>
                    <input style="display: none;" class="wdf-input" name="value" value=""/>
                </div>
                {% for child_k, child_v in v.items %}
                    {% if child_v|is_list == "true" %}
                        {% for grandchild_v in child_v %}
                            <div class="field-inline dual-input wdf-subcontent">
                                <label>
                                    <i katana-click="wdf.deleteChildTag" class="fa fa-trash i-danger" title="Delete Sub Data"/>
                                </label>
                                <input class="wdf-input" name="key" katana-change="wdf.validateKey" value="{{ child_k }}" list="most_used_tags"/>
                                <input class="wdf-input" name="value" value="{{ grandchild_v }}"/>
                            </div>
                        {% endfor %}
                    {% else %}
                        <div class="field-inline dual-input wdf-subcontent">
                            <label>
                                <i katana-click="wdf.deleteChildTag" class="fa fa-trash i-danger" title="Delete Sub Data"/>
                            </label>
                            <input class="wdf-input" name="key" katana-change="wdf.validateKey" value="{{ child_k }}" list="most_used_tags"/>
                            <input class="wdf-input" name="value" value="{{ child_v }}"/>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        {% elif k != "@name" %}
        <!-- It's not a child tag -->
            {% if v|is_list == "true" %}
                {% for child_v in v %}
                    {% if child_v|is_dict == "true" %}
                        <div class="child_tags">
                            <div class="field-inline dual-input wdf-content">
                                <label>
                                    <i katana-click="wdf.addChild" class="fa fa-plus" title="Add Sub Data"/>
                                    <i katana-click="wdf.deleteTag" class="fa fa-trash i-danger" title="Delete Data"/>
                                </label>
                                <input class="wdf-input" name="key" katana-change="wdf.validateKey" value="{{ k }}" list="most_used_tags"/>
                                <input style="display: none;" class="wdf-input" name="value" value=""/>
                            </div>
                        {% for grandchild_k, grandchild_v in child_v.items %}
                            <div class="field-inline dual-input wdf-subcontent">
                                <label>
                                    <i katana-click="wdf.deleteChildTag" class="fa fa-trash i-danger" title="Delete Sub Data"/>
                                </label>
                                <input class="wdf-input" name="key" katana-change="wdf.validateKey" value="{{ grandchild_k }}" list="most_used_tags"/>
                                <input class="wdf-input" name="value" value="{{ grandchild_v }}"/>
                            </div>
                        {% endfor %}
                        </div>
                    {% else %}
                        <div class="field-inline dual-input wdf-content">
                            <label>
                                <i katana-click="wdf.addChild" class="fa fa-plus" title="Add Sub Data"/>
                                <i katana-click="wdf.deleteTag" class="fa fa-trash i-danger" title="Delete Data"/>
                            </label>
                            <input class="wdf-input" name="key" katana-change="wdf.validateKey" value="{{ k }}" list="most_used_tags"/>
                            <input class="wdf-input" name="value" value="{{ child_v }}"/>
                        </div>
                    {% endif %}
                {% endfor %}
            {% else %}
                <div class="field-inline dual-input wdf-content">
                    <label>
                        <i katana-click="wdf.addChild" class="fa fa-plus" title="Add Sub Data"/>
                        <i katana-click="wdf.deleteTag" class="fa fa-trash i-danger" title="Delete Data"/>
                    </label>
                    <input class="wdf-input" name="key" katana-change="wdf.validateKey" value="{{ k }}" list="most_used_tags"/>
                    <input class="wdf-input" name="value" value="{{ v }}"/>
                </div>
            {% endif %}
        {% endif %}
    {% endfor %}
{% endwith %}