

.project-configuration-table {}

.project-configuration-table table {
  border-collapse: collapse;

}
.project-configuration-table td {
  text-align: left;
  overflow: auto;
}

.project-configuration-table th{
    height: 35px;
    line-height: 35px;
    text-align: left;
    vertical-align: top;
    font-weight: 400;
    color: #FFF;
    background-color: #577BA0;
}
.project-configuration-table tr th:nth-child(1), .project-configuration-table tr td:nth-child(1) {
    flex-grow: .3;

}

.project-configuration-table tr th:nth-child(2), .project-configuration-table tr td:nth-child(2) {
    flex-grow: .3; 
    font-size: 18px;
}
.project-configuration-table tr th:nth-child(3), .project-configuration-table tr td:nth-child(3) {
    flex-grow: 4; 
    font-size: 18px;
}
.project-configuration-table tr th:nth-child(4), .project-configuration-table tr td:nth-child(4){
    justify-content: left;
    flex-grow: 2.5;
    font-size: 18px;
}

.project-configuration-table tr th:last-child, .project-configuration-table tr td:last-child {
    flex-grow: .9;
    font-size: 18px;
}

.project-configuration-table i{
    padding: 4px;
    font-size: 16px;
}

.project-configuration-table tr:nth-child(even){background-color: #f2f2ff}