table {
  border-collapse: collapse;
  width: 100%;
}
tbody { 
  overflow-y: scroll;
 }

th, td {
  padding: 0.25rem;
  text-align: left;
  border: 1px solid #ccc;
  table-layout:fixed;
  /* width:20px; */
}
tbody tr:nth-child(odd) {
  background: #aaa;

}