table {
  border-collapse: collapse;
  width: 100%;
}
tbody { 
  overflow-y: scroll;
  overflow-x: scroll;
 }

th, td {
  text-align: left;
  border: 2px solid #000;
  table-layout:fixed;
  /* width:20px; */
}
tbody tr:nth-child(odd) {
  background: #aaa;

}