<div style="padding: 50px">
    <p class="about-page-font">
        KATANA
    </p>
    <p class='text-muted' style="min-width: 240px; width: 50%">
        Katana is Warrior’s XML creation and execution tool.
        <br><br>
        Cases, Suites, Projects, Input Data Files, and Test Data Files are the
        XML files that Warrior needs while performing complex automation tasks.
        These files can be created through Katana by clicking on the respective tabs.
        These newly created files would also be stored on the machine running Katana.
        <br><br>
        The Warhorn Configuration File which is the configuration file used by
        another Warrior Tool - Warhorn - can also be created by going to the
        'Warhorn Config Files' Tab in Katana.
        <br><br>
        The Cases, Suites, and Projects can be executed from Katana. A separate
        'Execution' tab handles the specifics of those runs.
    </p>
</div>
