<div class="page" id="launchpad">
	<div class="page-content">

		<div class="tabs">
			<a class="tab red" href="#/configuration"><i class="fa fa-cog"></i><span>configuration</span></a>
			<a class="tab blue" href="#/testcases"><i class="fa fa-briefcase"></i><span>Cases</span></a>
			<a class="tab tan" href="#/wrapper_files"><i class="fa fa-file-text"></i><span>Test Wrapper File</span></a>
			<a class="tab orange" href="#/testsuites"><i class="fa fa-cube"></i><span>Suites</span></a>
			<a class="tab green" href="#/projects"><i class="fa fa-cubes"></i><span>Projects</span></a>
			<a class="tab grey"  href="#/datafiles"><i class="fa fa-cloud"></i><span>Input Data Files</span></a>
			<a class="tab lightblue" href="#/testDatafiles"><i class="fa fa-paper-plane"></i><span>CLI Data Files</span></a>
			<a class="tab tan" href="#/warhornconfigfiles"><i class="fa fa-file-text"></i><span>Warhorn Config Files</span></a>
			<a class="tab yellow" href="#/sequential"><i class="fa fa-terminal"></i><span>Execution</span></a>
			<a class="tab cyan" href="#/kwseq"><i class="fa fa-sliders"></i><span>Keyword Sequencer</span></a>
		</div>
	</div>
</div>
