<h4 class="nav-font" style="color:rgb(0, 0, 0)">
<b>Configuration</b>
</h4>
<hr/>
<div class='well well-lg'>
    <p  class='text-primary' style="color:rgb(0, 0, 0)">
        On this page you may define the following Katana configuration parameters.
    </p>
    <br/>
    <br>
    <div class="row no-gutter">
        <div class="col-md-8">
            <div class="panel panel-default">
                <div class="panel-heading" style="color:rgb(0, 0, 0)">
                    <h3 class="panel-title" style="color:rgb(214, 48, 48)" >Name of the Engineer<span> *</span></h3>
                    <small style="color:rgb(0, 0, 0)">
                        All cases, suites, and projects created/modified in this session will be tagged with this Engineer's name.
                    </small>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                            <b>
                  <input type="text" class="form-control col-md-12" ng-model='cfg.engineer' placeholder="Engineer name" ng-change="highlightSaveBtn('engineer')">
                  </b>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <p>&nbsp;</p>

    <div class="row no-gutter">
        <div class="col-md-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 style="color:rgb(214, 48, 48)" class="panel-title">Current location of the Warrior Framework Directory<span> *</span>
                </h3>
                <small style="color:rgb(0, 0, 0)">
                    The directory where the Python Action &amp; Driver files will be read from.
                </small>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                            <b>
                  <input type="text" class="form-control col-md-12"
                         ng-model='cfg.pythonsrcdir'
                         placeholder="Warrior Framework Directory" ng-blur="autoPopulate()" ng-change="setFlag()">
                  </b>
                        </div>
                    </div>
                </div>
                <p>

                </p>
            </div>
        </div>
    </div>

    <p>&nbsp;</p>

    <div class="row no-gutter">
        <div class="col-md-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 style="color:rgb(214, 48, 48)" class="panel-title">Case Directory</h3>
                    <small style="color:rgb(0, 0, 0)">
                        The case directory is where the XML files created by this application are stored.
                    </small>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                        <b>
                            <input type="text" class="form-control col-md-12" ng-model='cfg.xmldir' ng-change="highlightSaveBtn('xmldir')"
                                   placeholder="Case destination directory">
                        </b>
                        </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <p>
        &nbsp;
    </p>


        <div class="row no-gutter">
        <div class="col-md-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 style="color:rgb(214, 48, 48)" class="panel-title">TestWrapper Directory</h3>
                    <small style="color:rgb(0, 0, 0)">
                        The testwrapper directory is where the XML files created by this application are stored.
                    </small>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                        <b>
                            <input type="text" class="form-control col-md-12" ng-model='cfg.testwrapper' ng-change="highlightSaveBtn('testwrapper')"
                                   placeholder="TestWrapper destination directory">
                        </b>
                        </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <p>
        &nbsp;
    </p>



    <div class="row no-gutter">
        <div class="col-md-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 style="color:rgb(214, 48, 48)" class="panel-title">Suite Directory</h3>
                    <small style="color:rgb(0, 0, 0)">
                        The suite directory is where the XML files created by this application are stored.
                    </small>
                </div>
                <div class="panel-body">
                    <!-- <b><input type='text' ng-model='cfg.basedir'></b> -->
                    <!--
                      <input type="text" class="form-control" ng-model='cfg.basedir' placeholder="Configuration Directory">
                      <button class='button btn-info' ng-click='saveBaseDir()'>Save</button>
                    -->
                    <div class="row">
                        <div class="col-md-12">
                        <b>
                            <input type="text" class="form-control col-md-12" ng-model='cfg.testsuitedir' ng-change="highlightSaveBtn('testsuitedir')"
                                   placeholder="Suite destination directory">
                        </b>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <p>
        &nbsp;
    </p>
    <div class="row no-gutter">
        <div class="col-md-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 style="color:rgb(214, 48, 48)" class="panel-title">Project Directory</h3>
                    <small style="color:rgb(0, 0, 0)">
                        The project directory is where the project XML files created by this application are stored.
                    </small>
                </div>
                <div class="panel-body">
                    <!-- <b><input type='text' ng-model='cfg.basedir'></b> -->
                    <!--
                      <input type="text" class="form-control" ng-model='cfg.basedir' placeholder="Configuration Directory">
                      <button class='button btn-info' ng-click='saveBaseDir()'>Save</button>
                    -->
                    <div class="row">
                        <div class="col-md-12">
                            <b>
                            <input type="text" class="form-control col-md-12" ng-model='cfg.projdir' ng-change="highlightSaveBtn('projdir')"
                                   placeholder="Project destination directory">
                            </b>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <p>
        &nbsp;
    </p>
    <div class="row no-gutter">
        <div class="col-md-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 style="color:rgb(214, 48, 48)" class="panel-title">Input Data File Directory</h3>
                    <small style="color:rgb(0, 0, 0)">
                        The input data file directory is where the data files created by this application will be stored.
                    </small>
                </div>
                <div class="panel-body">
                    <!-- <b><input type='text' ng-model='cfg.basedir'></b> -->
                    <!--
                      <input type="text" class="form-control" ng-model='cfg.basedir' placeholder="Configuration Directory">
                      <button class='button btn-info' ng-click='saveBaseDir()'>Save</button>
                    -->
                    <div class="row">
                        <div class="col-md-12">
                            <b>
                                <input type="text" class="form-control col-md-12" ng-model='cfg.idfdir' ng-change="highlightSaveBtn('idfdir')"
                                       placeholder="Input Data File destination directory">
                            </b>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <p>
        &nbsp;
    </p>
    <div class="row no-gutter">
        <div class="col-md-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 style="color:rgb(214, 48, 48)" class="panel-title">CLI-Data File Directory</h3>
                    <small style="color:rgb(0, 0, 0)">
                        The CLI-Data file directory is where the CLI-Data files created by this application will be stored.
                    </small>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                            <b>
                            <input type="text" class="form-control col-md-12" ng-model='cfg.testdata' ng-change="highlightSaveBtn('testdata')"
                                   placeholder="CLI-Data File destination directory">
                            </b>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <p>
        &nbsp;
    </p>
    <div class="row no-gutter">
        <div class="col-md-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 style="color:rgb(214, 48, 48)" class="panel-title">Warhorn Config File Directory</h3>
                    <small style="color:rgb(0, 0, 0)">
                        The Warhirn Config file directory is where the config files created by this application will be stored.
                    </small>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                            <b>
                                <input type="text" class="form-control col-md-12" ng-model='cfg.warhorn_config' ng-change="highlightSaveBtn('warhorn_config')"
                                       placeholder="Warhorn configuration File destination directory">
                                </b>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <p>
        &nbsp;
    </p>
    <div class="row no-gutter">
        <div class="col-md-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 style="color:rgb(214, 48, 48)" class="panel-title">Python Path</h3>
                    <small style="color:rgb(0, 0, 0)">
                        Enter the path to the Python that you want to use while executing Warrior - if left empty, the default Python will be used.
                    </small>
                </div>
                <div class="panel-body">
                    <!-- <b><input type='text' ng-model='cfg.basedir'></b> -->
                    <!--
                      <input type="text" class="form-control" ng-model='cfg.basedir' placeholder="Configuration Directory">
                      <button class='button btn-info' ng-click='saveBaseDir()'>Save</button>
                    -->
                    <div class="row">
                        <div class="col-md-12">
                            <b>
                            <input type="text" class="form-control col-md-12" ng-model='cfg.pythonpath' ng-change="highlightSaveBtn('pythonpath')"
                                   placeholder="Path to Python">
                            </b>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="row no-gutter" style="position: fixed; bottom: 5%; right: 5%;" ng-show="saveBtnHighlight">
        <div class="col-sm-2">
            <button class="btn btn-default" ng-click='saveCfg()' type="button" style="background-color: rgb(214, 48, 48); color: white">Save Configuration</button>
        </div>
    </div>
    <div class="row no-gutter" style="position: fixed; bottom: 5%; right: 5%;" ng-show="!saveBtnHighlight">
        <div class="col-sm-2">
            <button class="btn btn-default" ng-click='saveCfg()' type="button">Save Configuration</button>
        </div>
    </div>
</div>