<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="cache-control" content="max-age=0" />
    <meta http-equiv="cache-control" content="no-cache" />
    <meta http-equiv="expires" content="0" />
    <meta http-equiv="expires" content="Tue, 01 Jan 1980 1:00:00 GMT" />
    <meta http-equiv="pragma" content="no-cache" />
    <title>Katana &middot; Warrior XML Builder</title>
    <link rel="stylesheet" href="/assets/css/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/style.css">
</head>

<body>
<div ng-app='chariot'>

    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container pull-left" style="width: 50%">
            <a href="#/" class="navbar-brand home-page-font">
                <i class="fa fa-home" aria-hidden="true"></i>
                &nbsp;KATANA
            </a>
        </div>
        <div class="container pull-right" style="width: 50%">
            <a target="_blank" href="https://www.facebook.com/warriorframework/">
                <div class="pull-right big-navbar-icons tooltip-on-right-dark">
                    <i class="fa fa-facebook-square fa-2x" aria-hidden="true"></i>
                    <span class="tooltip-content">Facebook</span>
                </div>
                <div class="pull-right small-navbar-icons tooltip-on-right-dark">
                    <i class="fa fa-facebook-square" aria-hidden="true"></i>
                    <span class="tooltip-content">Facebook</span>
                </div>
            </a>
            <a target="_blank" href="https://twitter.com/warrior_fm">
                <div class="pull-right big-navbar-icons tooltip-on-right-dark">
                    <i class="fa fa-twitter fa-2x" aria-hidden="true"></i>
                    <span class="tooltip-content">Twitter</span>
                </div>
                <div class="pull-right small-navbar-icons tooltip-on-right-dark">
                    <i class="fa fa-twitter" aria-hidden="true"></i>
                    <span class="tooltip-content">Twitter</span>
                </div>
            </a>
            <a target="_blank" href="https://github.com/warriorframework/warriorframework">
                <div class="pull-right big-navbar-icons tooltip-on-right-dark">
                    <i class="fa fa-github fa-2x" aria-hidden="true"></i>
                    <span class="tooltip-content">Warrior Repository</span>
                </div>
                <div class="pull-right small-navbar-icons tooltip-on-right-dark">
                    <i class="fa fa-github" aria-hidden="true"></i>
                    <span class="tooltip-content">Warrior Repository</span>
                </div>
            </a>
        </div>
    </nav>

    <div id="small-sidebar" class="well container" style="position: fixed; min-width: 85px; max-width: 90px; width: 10%; height: 100%; background-color: white; z-index:5; margin-top: 45px;">
        <div class="left-navigation list-group">
            <a class="list-group-item border-less tooltip-on-right-dark" ng-class="{ active: isActive('/configuration')}" style="color:rgb(214, 48, 48);" href="#/configuration" id="big-screen-sidebar-config">
                <i class="fa fa-cog color-me-grey" aria-hidden="true"></i>
                <span class="tooltip-content">Configuration</span>
            </a>
            <a class="list-group-item border-less tooltip-on-right-dark" ng-class="{ active: isActiveContain('testcase')}" style="color:rgb(214, 48, 48)" href="#/testcases" id="big-screen-sidebar-testcases">
                <i class="fa fa-square color-me-grey" aria-hidden="true"></i>
                <span class="tooltip-content">Cases</span>
            </a>
             <a class="list-group-item border-less tooltip-on-right-dark" ng-class="{ active: isActiveContain('TestWrapperfilecase')}" style="color:rgb(214, 48, 48)" href="#/wrapper_files" id="big-screen-sidebar-testcases">
                <i class="fa fa-square color-me-grey" aria-hidden="true"></i>
                <span class="tooltip-content">Test Wrapper File</span>
            </a>
            <a class="list-group-item border-less tooltip-on-right-dark" ng-class="{ active: isActiveContain('testsuite')}" style="color:rgb(214, 48, 48)" href="#/testsuites" id="big-screen-sidebar-suites">
                <i class="fa fa-cube color-me-grey" aria-hidden="true"></i>
                <span class="tooltip-content">Suites</span>
            </a>
            <a class="list-group-item border-less tooltip-on-right-dark" ng-class="{ active: isActiveContain('project')}" style="color:rgb(214, 48, 48)" href="#/projects" id="big-screen-sidebar-projects">
                <i class="fa fa-cubes color-me-grey" aria-hidden="true"></i>
                <span class="tooltip-content">Projects</span>
            </a>
            <a class="list-group-item border-less tooltip-on-right-dark" ng-class="{ active: isActiveContain('datafile')}" style="color:rgb(214, 48, 48)" href="#/datafiles" id="big-screen-sidebar-datafiles">
                <i class="fa fa-cloud color-me-grey" aria-hidden="true"></i>
                <span class="tooltip-content">Input Data Files</span>
            </a>
            <a class="list-group-item border-less tooltip-on-right-dark" ng-class="{ active: isActiveContain('testDatafile')}" style="color:rgb(214, 48, 48)" href="#/testDatafiles" id="big-screen-sidebar-tdfiles">
                <i class="fa fa-paper-plane color-me-grey" aria-hidden="true"></i>
                <span class="tooltip-content">Test Data Files</span>
            </a>
            <a class="list-group-item border-less tooltip-on-right-dark" ng-class="{ active: isActiveContain('/warhornconfigfile')}" style="color:rgb(214, 48, 48)" href="#/warhornconfigfiles" id="big-screen-sidebar-wcfiles">
                <i class="fa fa-file-text color-me-grey" aria-hidden="true"></i>
                <span class="tooltip-content">Warhorn Config Files</span>
            </a>
            <a class="list-group-item border-less tooltip-on-right-dark" ng-class="{ active: isActive('/sequential')}" style="color:rgb(214, 48, 48)" href="#/sequential" id="big-screen-sidebar-execution">
                <i class="fa fa-terminal color-me-grey" aria-hidden="true"></i>
                <span class="tooltip-content">Execution</span>
            </a>
            <a class="list-group-item border-less tooltip-on-right-dark" ng-class="{ active: isActive('/kwseq')}" style="color:rgb(214, 48, 48)" href="#/kwseq" id="big-screen-sidebar-docs">
                <i class="fa fa-sliders color-me-grey" aria-hidden="true"></i>
                <span class="tooltip-content">Keyword Sequencer</span>
            </a>
        </div>
    </div>

    <div id="big-sidebar" class="well container" style="position: fixed; width: 15%; height: 100%; background-color: white; z-index:5; margin-top: 45px;">
        <div class="left-navigation list-group">
            <a class="list-group-item border-less" ng-class="{ active: isActive('/configuration')}" style="color:rgb(214, 48, 48)" href="#/configuration">
                <i class="fa fa-cog color-me-grey" aria-hidden="true"></i>
                <span class="add-space-1">Configuration</span>
            </a>
            <a class="list-group-item border-less" ng-class="{ active: isActiveContain('testcase')}" style="color:rgb(214, 48, 48)" href="#/testcases">
                <i class="fa fa-square color-me-grey" aria-hidden="true"></i>
                <span class="add-space-1">Cases</span>
            </a>
              <a class="list-group-item border-less" ng-class="{ active: isActiveContain('TestWrapperfilecase')}" style="color:rgb(214, 48, 48)" href="#/wrapper_files">
                <i class="fa fa-square color-me-grey" aria-hidden="true"></i>
                <span class="add-space-1">Test Wrapper File</span>
            </a>
            <a class="list-group-item border-less" ng-class="{ active: isActiveContain('testsuite')}" style="color:rgb(214, 48, 48)" href="#/testsuites">
                <i class="fa fa-cube color-me-grey" aria-hidden="true"></i>
                <span class="add-space-1">Suites</span>
            </a>
            <a class="list-group-item border-less" ng-class="{ active: isActiveContain('project')}" style="color:rgb(214, 48, 48)" href="#/projects">
                <i class="fa fa-cubes color-me-grey" aria-hidden="true"></i>
                <span class="add-space-1">Projects</span>
            </a>
            <a class="list-group-item border-less" ng-class="{ active: isActiveContain('datafile')}" style="color:rgb(214, 48, 48)" href="#/datafiles">
                <i class="fa fa-cloud color-me-grey" aria-hidden="true"></i>
                <span class="add-space-1">Input Data Files</span>
            </a>
            <a class="list-group-item border-less" ng-class="{ active: isActiveContain('testDatafile')}" style="color:rgb(214, 48, 48)" href="#/testDatafiles">
                <i class="fa fa-paper-plane color-me-grey" aria-hidden="true"></i>
                <span class="add-space-1">Test Data Files</span>
            </a>
            <a class="list-group-item border-less" ng-class="{ active: isActiveContain('/warhornconfigfile')}" style="color:rgb(214, 48, 48)" href="#/warhornconfigfiles">
                <i class="fa fa-file-text color-me-grey" aria-hidden="true"></i>
                <span class="add-space-1">Warhorn Config Files</span>
            </a>
            <a class="list-group-item border-less" ng-class="{ active: isActive('/sequential')}" style="color:rgb(214, 48, 48)" href="#/sequential">
                <i class="fa fa-terminal color-me-grey" aria-hidden="true"></i>
                <span class="add-space-1">Execution</span>
            </a>
            <a class="list-group-item border-less" ng-class="{ active: isActive('/kwseq')}" style="color:rgb(214, 48, 48)" href="#/kwseq">
                <i class="fa fa-sliders color-me-grey" aria-hidden="true"></i>
                <span class="add-space-1">Keyword Sequencer</span>
            </a>
        </div>
    </div>

    <div class='container pull-right' id="screen-view" style="position: relative; margin-top: 50px;">
        <div class='row no-gutters'>
            <div class='col-md-12'>
                <div class="ng-view"></div>
            </div>
        </div>
    </div>

    <script type="text/javascript" src='/assets/OSS/jquery/jquery.min.js'></script>
    <script type="text/javascript" src='/assets/css/bootstrap/js/bootstrap.min.js'></script>
    <link rel="stylesheet" href="/assets/OSS/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="/assets/OSS/datatable/js/jquery.datatables.min.js"></script>
    <script type="text/javascript" src='/assets/OSS/underscore-min.js'></script>
    <script type="text/javascript" src='/assets/OSS/angular/angular.min.js'></script>
    <script type="text/javascript" src='/assets/OSS/angular/angular-route.min.js'></script>
    <script type="text/javascript" src='/assets/OSS/xml/xml2json.min.js'></script>
    <script type="text/javascript" src='/assets/OSS/moment.min.js'></script>
    <script type="text/javascript" src='/assets/OSS/ng-file-upload-all.js'></script>
    <script type="text/javascript" src='/assets/OSS/typeahead.js'></script>
    <script src="/assets/OSS/sweetalert-master/dist/sweetalert.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/assets/OSS/sweetalert-master/dist/sweetalert.css">

    <!-- Chariot Specific Angular JS files -->
    <script type="text/javascript" src="/assets/app/app.js"></script>
    <script type="text/javascript" src="/assets/app/route.js"></script>
    <script type="text/javascript" src="/assets/app/factory/fileFactory.js"></script>
    <script type="text/javascript" src="/assets/app/factory/getTestcaseFactory.js"></script>
    <script type="text/javascript" src="/assets/app/factory/getProjectFactory.js"></script>
    <script type="text/javascript" src="/assets/app/factory/setTestcaseFactory.js"></script>
    <script type="text/javascript" src="/assets/app/factory/setProjectFactory.js"></script>
    <script type="text/javascript" src="/assets/app/factory/sequentialFactory.js"></script>
    <script type="text/javascript" src="/assets/app/factory/executionFactory.js"></script>
    <script type="text/javascript" src="/assets/app/factory/runFactory.js"></script>
    <script type="text/javascript" src="/assets/app/factory/descriptionFactory.js"></script>
    <script type="text/javascript" src="/assets/app/factory/fetchDriversnKWFactory.js"></script>
    <script type="text/javascript" src="/assets/app/factory/fetchKeywordsFactory.js"></script>
    <script type="text/javascript" src="/assets/app/factory/saveNewFactory.js"></script>
    <script type="text/javascript" src="/assets/app/factory/saveasFactory.js"></script>
    <script type="text/javascript" src="/assets/app/factory/saveasProjectFactory.js"></script>
    <script type="text/javascript" src="/assets/app/factory/saveNewTestsuiteFactory.js"></script>
    <script type="text/javascript" src="/assets/app/factory/getTestsuiteFactory.js"></script>
    <script type="text/javascript" src="/assets/app/factory/setTestsuiteFactory.js"></script>
    <script type="text/javascript" src="/assets/app/factory/saveasTestsuiteFactory.js"></script>
    <script type="text/javascript" src="/assets/app/factory/testcaseFactory.js"></script>
    <script type="text/javascript" src="/assets/app/factory/datafileFactory.js"></script>
    <script type="text/javascript" src="/assets/app/factory/saveNewDataFileFactory.js"></script>
    <script type="text/javascript" src="/assets/app/factory/kwSeqFacCtrl.js"></script>
    <script type="text/javascript" src="/assets/app/controllers/baseChariotCtrl.js"></script>
    <script type="text/javascript" src="/assets/app/controllers/configCtrl.js"></script>
    <script type="text/javascript" src="/assets/app/factory/warhornconfigfileFactory.js"></script>
    <script type="text/javascript" src="/assets/app/factory/saveNewWarhornConfigFileFactory.js"></script>
    <script type="text/javascript" src="/assets/app/controllers/testcaseCapCtrl.js"></script>

    <script type="text/javascript" src="/assets/app/factory/testdatafileFactory.js"></script>
    <script type="text/javascript" src="/assets/app/factory/saveNewTestDataFileFactory.js"></script>
    <script type="text/javascript" src="/assets/app/controllers/testcaseCtrl.js"></script>
    <script type="text/javascript" src="/assets/app/controllers/sequentialCtrl.js"></script>
    <script type="text/javascript" src="/assets/app/controllers/parallelCtrl.js"></script>
    <script type="text/javascript" src="/assets/app/controllers/performanceCtrl.js"></script>
    <script type="text/javascript" src="/assets/app/controllers/headerCtrl.js"></script>
    <script type="text/javascript" src="/assets/app/controllers/projectCtrl.js"></script>
    <script type="text/javascript" src="/assets/app/controllers/newProjectCtrl.js"></script>
    <script type="text/javascript" src="/assets/app/controllers/projectCaptureCtrl.js"></script>
    <script type="text/javascript" src="/assets/app/controllers/testsuiteCtrl.js"></script>
    <script type="text/javascript" src="/assets/app/controllers/newTestsuiteCtrl.js"></script>
    <script type="text/javascript" src="/assets/app/controllers/testsuiteCapCtrl.js"></script>
    <script type="text/javascript" src="/assets/app/controllers/warhornconfigfileCtrl.js"></script>
    <script type="text/javascript" src="/assets/app/controllers/newWarhornConfigFileCtrl.js"></script>
    <script type="text/javascript" src="/assets/app/controllers/testdatafileCtrl.js"></script>
    <script type="text/javascript" src="/assets/app/controllers/newTestDataFileCtrl.js"></script>
    <script type="text/javascript" src="/assets/app/controllers/datafileCtrl.js"></script>
    <script type="text/javascript" src="/assets/app/controllers/newDataFileCtrl.js"></script>
    <script type="text/javascript" src="/assets/app/controllers/aboutCtrl.js"></script>
    <script type="text/javascript" src="/assets/app/controllers/kwSeq.js"></script>
    <script type="text/javascript" src="/assets/app/controllers/kwSeqCtrl.js"></script>
    <script type="text/javascript" src="/assets/app/factory/modalDirective.js"></script>
    <script type="text/javascript" src="/assets/app/factory/tagDirective.js"></script>
    <script type="text/javascript" src="/assets/app/controllers/CollapsibleLists.js"></script>
    <script type="text/javascript" src="/assets/app/factory/getConfigFactory.js"></script>
    <script type="text/javascript" src="/assets/app/controllers/TestWrapperFileCaseCapCtrl.js"></script>
    <script type="text/javascript" src="/assets/app/controllers/TestWrapperFileCaseCtrl.js"></script>
    <script type="text/javascript" src="/assets/app/factory/TestWrapperFileCaseFactory.js"></script>
    <script type="text/javascript" src="/assets/app/factory/setTestWrapperFileCaseFactory.js"></script>
    <script type="text/javascript" src="/assets/app/factory/getTestWrapperFileCaseFactory.js"></script>




</div>

</body>
</html>
