<section id="app_installation">
    <div style="width: 100%; height: 10rem; padding: 4rem 0 0 5.5rem;">
        <h1>&nbsp;Install Custom Apps</h1>
    </div>

    <div id="app_installation_div">
        <div class="container-fluid">
            <div class="row" style="padding: 0 5rem 5rem 5rem;">
                <div class="card" style="width: 100%;">
                    <div class="card-body">
                        <h4 class="card-title">Add App Information</h4>
                        <h6 class="card-subtitle mb-2 text-muted">To Install New Apps</h6>
                        <p class="card-text">This is some text explaining what the button would do</p>
                    </div>
                    <div class="card-body">
                        <div id="form-for-paths"></div>
                        <br>
                        <button id="add_app_path" class="btn btn-primary" katana-click="wapp_management.addAnotherApp" input_num="2">Add</button>
                    </div>
                    <div id="rest-of-the-card-1" class="card-body">
                        <p class="card-text">You can save the configuration above.</p>
                        <button class="btn btn-success" katana-click="wapp_management.saveConfig">Save Configuration</button>
                    </div>
                    <div id="rest-of-the-card-2" class="card-body">
                        <p class="card-text">You can Install the apps here</p>
                        <button class="btn btn-success" katana-click="wapp_management.installAnApp" save_config="yes">Install Apps</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="preferences_div">
        <div class="container-fluid">
            <div class="row" style="padding: 0 5rem 5rem 5rem;">
                <div class="card" style="width: 100%;">
                    <div class="card-body">
                        <h4 class="card-title">Retrieve Saved Configuration</h4>
                    </div>
                    <div class="card-body">
                            {% include 'wapp_management/saved_preferences.html' %}
                    </div>
                    <div class="card-body" style="width: 100%;">
                        <button class="btn btn-success" save_config="yes">Install Apps</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>