<div class="container-fluid" style="padding: 0 5rem 5rem 5rem;">
	<div class="row">
        {% for app in data.app%}
        <div style="width: 20rem; height: 26rem; padding: 2rem;">
            <div class="card" style="width: 16rem; height: 22rem;">
                <div class="card-body text-center">
                    <i class="fa fa-{{ app.data.icon }} fa-3x {{app.data.color}}" style="line-height:inherit!important;"></i>
                </div>
                <div class="card-body">
                    <h4 class="card-title-custom" style="overflow: hidden; white-space: nowrap; text-overflow: ellipsis;">{{ app.data.name }}</h4>
                    <h6 class="card-subtitle mb-2 text-muted" style="overflow: hidden; text-overflow: ellipsis;">By {{ app.data.developer }}</h6>
                    <p class="card-text-custom" style="overflow: hidden; text-overflow: fade(100%);">{{ app.data.description }}</p>
                </div>
                 <div class="card-body">
                    <button katana-click="katana.templateAPI.load" url="{{ app.data.url }}"
                            jsUrls=" {% for url in app.data.js_urls %} {{ url }},{% endfor %}"
                            class="btn btn-primary">OPEN</button>
                     {% if app.app_type != "native" %}
                        <button class="btn btn-success" katana-click="wapp_management.uninstallAnApp"
                                app_path="{{ app.path }}" app_type="{{ app.app_type }}" app_name="{{ app.data.name }}">UNINSTALL</button>
                     {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
	</div>
</div>