<div id="saved_preferences">
    {% if data.preferences %}
    <div id="config-file-div">
        {% for preference in data.preferences %}
            <div class="card">
                <div class="card-header" style="background-color: #98afc7" id="{{preference}}" katana-click="wapp_management.getPreferenceDetails">{{preference}}</div>
                <div id="config-details-{{preference}}" class="card-block" style="background-color: #e5e4e2">
                    {% include 'wapp_management/config_details.html'  %}
                </div>
            </div>
        {% endfor %}
    </div>
    {% else %}
    <p>You don't have any preferences set today</p>
    {% endif %}
</div>