<div id="saved_preferences">
    {% if data.preferences %}
        <div class="custom-controls-stacked">
            {% for preference in data.preferences %}
                <label id="{{preference}}" class="custom-control custom-radio" katana-click="wapp_management.getPreferenceDetails">
                    <input id="radio1" name="radio-stacked" type="radio" class="custom-control-input">
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description">{{preference}}</span>
                </label>
            {% endfor %}
        </div>
    {% else %}
        <p>You don't have any preferences set today</p>
    {% endif %}
</div>