table {
  border-collapse: collapse;
  width: 100%;
}
th, td {
  padding: 0.25rem;
  text-align: left;
  border: 1px solid #ccc;
  overflow: scroll;
  table-layout:fixed;

}
tbody tr:nth-child(odd) {
  background: #eee;
}