.configuration_table table {
  border-collapse: collapse;
}
.configuration_table td {
  text-align: left;
  border: 1px solid #00D;
  overflow: scroll;
 
}

.configuration_table th {
  text-align: left;
  border: 0px ;
  overflow: scroll;
 
}
.configuration_table tbody tr:nth-child(odd) {
  background: #eee;
}