.case_configuration_table table {
  border-collapse: collapse;
}
.case_configuration_table td {
  text-align: left;
  overflow: auto;
 
}

.case_configuration_table th {
  text-align: left;
  border: 0px ;

}

.case_configuration_table {}
.case_configuration_table th{
    height: 35px;
    line-height: 35px;
    text-align: left; 
    vertical-align: top;
    font-weight: 400;
    color: #FFF;
    background-color: #577BA0;
}

.case_configuration_table i{
    padding: 4px;
    font-size: 16px;
}

.popup {
	background: #fff;
}


.case_configuration_table tr:nth-child(even){background-color: #f2f2ff}


.case_configuration_table tr th:nth-child(1), .case_configuration_table tr td:nth-child(1) {
    flex-grow: .3;

}
.case_configuration_table tr th:nth-child(2), .case_configuration_table tr td:nth-child(2) {
    flex-grow: 4;

}

.case_configuration_table tr th:nth-child(3), .case_configuration_table tr td:nth-child(3) {
    flex-grow: 2;
}

.case_configuration_table tr th:nth-child(4), .case_configuration_table tr td:nth-child(4) {
    flex-grow: 3;
}

.case_configuration_table tr th:nth-child(5), .case_configuration_table tr td:nth-child(5) {
    flex-grow: 3;
}
.case_configuration_table tr th:last-child, .case_configuration_table tr td:last-child {
    flex-grow: 1.1;
    font-size: 18px;
}
