.casescheckbox {
	width: 25px;
	margin: 20px 100px;
	position: relative;
}

.casescheckbox:after{
	opacity: 0.2;
	content: '';
	position: absolute;
	width: 9px;
	height: 5px;
	background: transparent;
	top: 6px;
	left: 7px;
	border: 3px solid #333;
	border-top: none;
	border-right: none;

	transform: rotate(-45deg);
}

/*
.casescheckbox:before{
	content: 'Off';
	position: absolute;
	top: 12px;
	left: 84px;
	height: 2px;
	color: #111;
	font-size: 16px;
}
*/
.casescheckbox label {
	cursor: pointer;
	position: absolute;
	width: 25px;
	height: 25px;
	top: 0;
  	left: 0;
	background: #eee;
	border:1px solid #ddd;
}

.casescheckbox label::hover::after { 
	opacity: 0.5;
 }
.casescheckbox input[type=checkbox]:checked + label:after {
	opacity: 1;
}