.configuration_table table {
  border-collapse: collapse;
}
.configuration_table td {
  text-align: left;
  overflow: auto;
 
}

.configuration_table th {
  text-align: left;
  border: 0px ;

}

.configuration_table {}
.configuration_table th{
    height: 35px;
    line-height: 35px;
    text-align: left; 
    vertical-align: top;
    font-weight: 400;
    color: #FFF;
    background-color: #577BA0;
}
.configuration_table tr th:nth-child(1), .configuration_table tr td:nth-child(1) {
    flex-grow: .3;

}
.configuration_table tr th:last-child, .configuration_table tr td:last-child {
    flex-grow: 1.1;
    font-size: 18px;
}
.configuration_table i{
    padding: 4px;
    font-size: 16px;
}

.popup {
	background: #fff;
}

.delete-item-32 {
    background: url('/static/core/images/icons/delete-item-32.ico') no-repeat;
    height: 32px;
    width: 32px;
    display: inline-flex;
}

.add-item-32 {
    background: url('/static/core/images/icons/add-item-32.ico') no-repeat;
    height: 32px;
    width: 32px;
    display: inline-flex;
}

.edit-item-32 {
    background: url('/static/core/images/icons/edit-item-32.ico') no-repeat;
    height: 32px;
    width: 32px;
    display: inline-flex;
}

.duplicate-item-32 {
    background: url('/static/core/images/icons/duplicate-item-32.ico') no-repeat;
    height: 32px;
    width: 32px;
    display: inline-flex;
}

.configuration_table tr th:nth-child(5), .configuration_table tr td:nth-child(5) {
    flex-grow: 3;

.configuration_table tr th:nth-child(4), .configuration_table tr td:nth-child(4) {
    flex-grow: 3;
}



.configuration_table tr th:nth-child(3), .configuration_table tr td:nth-child(3) {
    flex-grow: 2;
}

.configuration_table tr:nth-child(even){background-color: #f2f2ff}
